@font-face{font-family:"winjs-symbols";src:url(winjs-symbols.woff2) format("woff2"),url(winjs-symbols.woff) format("woff"),url(winjs-symbols.ttf) format("truetype");font-weight:normal;font-style:normal;font-display: swap;}

.glyph{display:inline-block;width:1em;height:1em;vertical-align:middle;overflow:hidden;}

.glyph:before{display:block;width:1em;height:1em;font-family:"winjs-symbols";line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.glyph-chevron-up::before{content:"\E018"}

.glyph-chevron-down::before{content:"\E019"}

.glyph-checkmark::before{content:"\E081"}

.glyph-star::before{content:"\E082"}

.glyph-magnifier::before{content:"\E094"}

.glyph-semantic-zoom::before{content:"\E0B8"}

.glyph-arrow-left::before{content:"\E0D5"}

.glyph-arrow-right::before{content:"\E0AE"}

.glyph-chevron-left::before{content:"\E0E2"}

.glyph-chevron-right::before{content:"\E0E3"}

.glyph-chevron-up-2::before{content:"\E0E4"}

.glyph-chevron-down-2::before{content:"\E0E5"}

.glyph-checkmark-2::before{content:"\E0E7"}

.glyph-star-outline::before{content:"\E224"}

.glyph-chevron-right-2::before{content:"\E26B"}

.glyph-chevron-left-2::before{content:"\E26C"}

.glyph-previous::before{content:"\E100"}

.glyph-next::before{content:"\E101"}

.glyph-play::before{content:"\E102"}

.glyph-pause::before{content:"\E103"}

.glyph-edit::before{content:"\E104"}

.glyph-edit-mirrored::before{content:"\E1C2"}

.glyph-save::before{content:"\E105"}

.glyph-clear::before{content:"\E106"}

.glyph-delete::before{content:"\E107"}

.glyph-remove::before{content:"\E108"}

.glyph-add::before{content:"\E109"}

.glyph-cancel::before{content:"\E10A"}

.glyph-accept::before{content:"\E10B"}

.glyph-more::before{content:"\E10C"}

.glyph-redo::before{content:"\E10D"}

.glyph-undo::before{content:"\E10E"}

.glyph-home::before{content:"\E10F"}

.glyph-up::before{content:"\E110"}

.glyph-forward::before{content:"\E111"}

.glyph-back::before{content:"\E112"}

.glyph-favorite::before{content:"\E113"}

.glyph-camera::before{content:"\E114"}

.glyph-settings::before{content:"\E115"}

.glyph-video::before{content:"\E116"}

.glyph-sync::before{content:"\E117"}

.glyph-download::before{content:"\E118"}

.glyph-mail::before{content:"\E119"}

.glyph-magnifier-2::before{content:"\E11A"}

.glyph-help::before{content:"\E11B"}

.glyph-help-mirrored::before{content:"\E1F3"}

.glyph-upload::before{content:"\E11C"}

.glyph-emoji::before{content:"\E11D"}

.glyph-two-page::before{content:"\E11E"}

.glyph-leave-chat::before{content:"\E11F"}

.glyph-mail-forward::before{content:"\E120"}

.glyph-clock::before{content:"\E121"}

.glyph-send::before{content:"\E122"}

.glyph-crop::before{content:"\E123"}

.glyph-rotate-camera::before{content:"\E124"}

.glyph-people::before{content:"\E125"}

.glyph-close-pane::before{content:"\E126"}

.glyph-close-pane-mirrored::before{content:"\E1BF"}

.glyph-open-pane::before{content:"\E127"}

.glyph-open-pane-mirrored::before{content:"\E1C0"}

.glyph-world::before{content:"\E128"}

.glyph-flag::before{content:"\E129"}

.glyph-preview-link::before{content:"\E12A"}

.glyph-globe::before{content:"\E12B"}

.glyph-trim::before{content:"\E12C"}

.glyph-attach-camera::before{content:"\E12D"}

.glyph-zoom-in::before{content:"\E12E"}

.glyph-bookmarks::before{content:"\E12F"}

.glyph-bookmarks-mirrored::before{content:"\E1EE"}

.glyph-document::before{content:"\E130"}

.glyph-protected-document::before{content:"\E131"}

.glyph-page::before{content:"\E132"}

.glyph-multi-select::before{content:"\E133"}

.glyph-multi-select-mirrored::before{content:"\E1EF"}

.glyph-comment::before{content:"\E134"}

.glyph-mail-2::before{content:"\E135"}

.glyph-contact-info::before{content:"\E136"}

.glyph-contact-info-mirrored::before{content:"\EA4A"}

.glyph-hang-up::before{content:"\E137"}

.glyph-view-all::before{content:"\E138"}

.glyph-map-pin::before{content:"\E139"}

.glyph-phone::before{content:"\E13A"}

.glyph-video-chat::before{content:"\E13B"}

.glyph-switch::before{content:"\E13C"}

.glyph-contact::before{content:"\E13D"}

.glyph-rename::before{content:"\E13E"}

.glyph-pin::before{content:"\E141"}

.glyph-music-info::before{content:"\E142"}

.glyph-go::before{content:"\E143"}

.glyph-go-mirrored::before{content:"\E1AA"}

.glyph-keyboard::before{content:"\E144"}

.glyph-dock-left::before{content:"\E145"}

.glyph-dock-left-mirrored::before{content:"\E1AB"}

.glyph-dock-right::before{content:"\E146"}

.glyph-dock-right-mirrored::before{content:"\E1AC"}

.glyph-dock-bottom::before{content:"\E147"}

.glyph-remote::before{content:"\E148"}

.glyph-refresh::before{content:"\E149"}

.glyph-rotate::before{content:"\E14A"}

.glyph-shuffle::before{content:"\E14B"}

.glyph-list::before{content:"\E14C"}

.glyph-list-mirrored::before{content:"\E175"}

.glyph-shop::before{content:"\E14D"}

.glyph-select-all::before{content:"\E14E"}

.glyph-orientation::before{content:"\E14F"}

.glyph-import::before{content:"\E150"}

.glyph-import-mirrored::before{content:"\E1AD"}

.glyph-import-all::before{content:"\E151"}

.glyph-import-all-mirrored::before{content:"\E1AE"}

.glyph-browse-photos::before{content:"\E155"}

.glyph-webcam::before{content:"\E156"}

.glyph-picture::before{content:"\E158"}

.glyph-save-local::before{content:"\E159"}

.glyph-caption::before{content:"\E15A"}

.glyph-stop::before{content:"\E15B"}

.glyph-show-results::before{content:"\E15C"}

.glyph-show-results-mirrored::before{content:"\E1F1"}

.glyph-volume::before{content:"\E15D"}

.glyph-repair::before{content:"\E15E"}

.glyph-message::before{content:"\E15F"}

.glyph-page-outline::before{content:"\E160"}

.glyph-calendar-day::before{content:"\E161"}

.glyph-calendar-week::before{content:"\E162"}

.glyph-calendar::before{content:"\E163"}

.glyph-calendar-mirrored::before{content:"\E1DC"}

.glyph-characters::before{content:"\E164"}

.glyph-mail-reply-all::before{content:"\E165"}

.glyph-mail-reply-all-mirrored::before{content:"\E1F2"}

.glyph-mail-read::before{content:"\E166"}

.glyph-link::before{content:"\E167"}

.glyph-accounts::before{content:"\E168"}

.glyph-show-bcc::before{content:"\E169"}

.glyph-hide-bcc::before{content:"\E16A"}

.glyph-cut::before{content:"\E16B"}

.glyph-attach::before{content:"\E16C"}

.glyph-paste::before{content:"\E16D"}

.glyph-filter::before{content:"\E16E"}

.glyph-copy::before{content:"\E16F"}

.glyph-emoji-2::before{content:"\E170"}

.glyph-important::before{content:"\E171"}

.glyph-mail-reply::before{content:"\E172"}

.glyph-mail-reply-mirrored::before{content:"\E1AF"}

.glyph-slideshow::before{content:"\E173"}

.glyph-sort::before{content:"\E174"}

.glyph-manage::before{content:"\E178"}

.glyph-all-apps::before{content:"\E179"}

.glyph-all-apps-mirrored::before{content:"\E1EC"}

.glyph-disconnect-drive::before{content:"\E17A"}

.glyph-map-drive::before{content:"\E17B"}

.glyph-new-window::before{content:"\E17C"}

.glyph-open-with::before{content:"\E17D"}

.glyph-open-with-mirrored::before{content:"\E1ED"}

.glyph-contact-presence::before{content:"\E181"}

.glyph-priority::before{content:"\E182"}

.glyph-upload-2::before{content:"\E183"}

.glyph-go-to-today::before{content:"\E184"}

.glyph-font::before{content:"\E185"}

.glyph-font-color::before{content:"\E186"}

.glyph-contact-2::before{content:"\E187"}

.glyph-folder::before{content:"\E188"}

.glyph-audio::before{content:"\E189"}

.glyph-placeholder::before{content:"\E18A"}

.glyph-view::before{content:"\E18B"}

.glyph-set-lockscreen::before{content:"\E18C"}

.glyph-set-tile::before{content:"\E18D"}

.glyph-cc::before{content:"\E190"}

.glyph-stop-slideshow::before{content:"\E191"}

.glyph-permissions::before{content:"\E192"}

.glyph-highlight::before{content:"\E193"}

.glyph-disable-updates::before{content:"\E194"}

.glyph-unfavorite::before{content:"\E195"}

.glyph-unpin::before{content:"\E196"}

.glyph-open-local::before{content:"\E197"}

.glyph-mute::before{content:"\E198"}

.glyph-italic::before{content:"\E199"}

.glyph-underline::before{content:"\E19A"}

.glyph-bold::before{content:"\E19B"}

.glyph-move-to-folder::before{content:"\E19C"}

.glyph-like-dislike::before{content:"\E19D"}

.glyph-dislike::before{content:"\E19E"}

.glyph-like::before{content:"\E19F"}

.glyph-align-right::before{content:"\E1A0"}

.glyph-align-center::before{content:"\E1A1"}

.glyph-align-left::before{content:"\E1A2"}

.glyph-magnifier-3::before{content:"\E1A3"}

.glyph-zoom-out::before{content:"\E1A4"}

.glyph-open-file::before{content:"\E1A5"}

.glyph-other-user::before{content:"\E1A6"}

.glyph-admin::before{content:"\E1A7"}

.glyph-street::before{content:"\E1C3"}

.glyph-map::before{content:"\E1C4"}

.glyph-clear-selection::before{content:"\E1C5"}

.glyph-clear-selection-mirrored::before{content:"\E1F4"}

.glyph-font-decrease::before{content:"\E1C6"}

.glyph-font-increase::before{content:"\E1C7"}

.glyph-font-size::before{content:"\E1C8"}

.glyph-cellphone::before{content:"\E1C9"}

.glyph-reshare::before{content:"\E1CA"}

.glyph-tag::before{content:"\E1CB"}

.glyph-repeat-once::before{content:"\E1CC"}

.glyph-repeat-all::before{content:"\E1CD"}

.glyph-star-outline-2::before{content:"\E1CE"}

.glyph-star-2::before{content:"\E1CF"}

.glyph-calculator::before{content:"\E1D0"}

.glyph-directions::before{content:"\E1D1"}

.glyph-location::before{content:"\E1D2"}

.glyph-library::before{content:"\E1D3"}

.glyph-phonebook::before{content:"\E1D4"}

.glyph-memo::before{content:"\E1D5"}

.glyph-microphone::before{content:"\E1D6"}

.glyph-post-update::before{content:"\E1D7"}

.glyph-back-to-window::before{content:"\E1D8"}

.glyph-fullscreen::before{content:"\E1D9"}

.glyph-new-folder::before{content:"\E1DA"}

.glyph-calendar-reply::before{content:"\E1DB"}

.glyph-unsync-folder::before{content:"\E1DD"}

.glyph-report-hacked::before{content:"\E1DE"}

.glyph-sync-folder::before{content:"\E1DF"}

.glyph-block-contact::before{content:"\E1E0"}

.glyph-switch-apps::before{content:"\E1E1"}

.glyph-add-friend::before{content:"\E1E2"}

.glyph-touch-pointer::before{content:"\E1E3"}

.glyph-go-to-start::before{content:"\E1E4"}

.glyph-zero-bar::before{content:"\E1E5"}

.glyph-one-bar::before{content:"\E1E6"}

.glyph-two-bars::before{content:"\E1E7"}

.glyph-three-bars::before{content:"\E1E8"}

.glyph-four-bars::before{content:"\E1E9"}

.glyph-scan::before{content:"\E294"}

.glyph-preview::before{content:"\E295"}

.glyph-hamburger::before{content:"\E700"}

.glyph-checkbox-composite::before{content:"\E73A"}

.glyph-checkbox-indeterminate::before{content:"\E73C"}

.glyph-warning::before{content:"\E7BA"}

.glyph-shopping-cart::before{content:"\E7BF"}

.glyph-flag-2::before{content:"\E7C1"}

.glyph-completed::before{content:"\E930"}

.glyph-music-album::before{content:"\E93C"}

.glyph-info::before{content:"\E946"}

.glyph-devices::before{content:"\EA6C"}

.glyph-expand::before{content:"\ECC8"}

.glyph-collapse::before{content:"\ECC9"}

.glyph-radio-btn-off::before{content:"\ECCA"}

.glyph-radio-btn-on::before{content:"\ECCB"}

.glyph-radio-bullet::before{content:"\ECCC"}

.glyph-media-browse::before{content:"\ECCD"}

.glyph-miracast-small::before{content:"\EC15"}

.glyph-miracast-large::before{content:"\EC16"}

.glyph-playback-rate-1x::before{content:"\EC57"}

.glyph-playback-rate-other::before{content:"\EC58"}

.glyph-subscription-add-mirrored::before,.glyph-subscription-add::before{content:"\ED0E"}

.glyph-subscriptions::before{content:"\ED11"}

.glyph-subscriptions-mirrored::before{content:"\ED12"}

.checkbox label input:indeterminate~span::before{content:"\25A0"}

.radio label input:checked~span::before{content:"\2022"}

[class^="glyph-"],[class*=" glyph-"]{font-style:normal;font-family:winjs-symbols !important;-webkit-font-smoothing:antialiased;}

