@font-face{font-family:"Roboto";src:url(Roboto-Light.woff2) format("woff2"),url(Roboto-Light.woff) format("woff"),url(Roboto-Light.ttf) format("truetype");font-weight:300;font-style:normal;font-display: swap;}

@font-face{font-family:"Roboto";src:url(Roboto-Regular.woff2) format("woff2"),url(Roboto-Regular.woff) format("woff"),url(Roboto-Regular.ttf) format("truetype");font-weight:400;font-style:normal;font-display: swap;}

@font-face{font-family:"Roboto";src:url(Roboto-Italic.woff2) format("woff2"),url(Roboto-Italic.woff) format("woff"),url(Roboto-Italic.ttf) format("truetype");font-weight:400;font-style:italic;font-display: swap;}

@font-face{font-family:"Roboto";src:url(Roboto-Bold.woff2) format("woff2"),url(Roboto-Bold.woff) format("woff"),url(Roboto-Bold.woff) format("woff"),url(Roboto-Bold.ttf) format("truetype");font-weight:700;font-style:normal;font-display: swap;}

@font-face{font-family:"Roboto";src:url(Roboto-BoldItalic.woff2) format("woff2"),url(Roboto-BoldItalic.woff) format("woff"),url(Roboto-BoldItalic.ttf) format("truetype");font-weight:700;font-style:italic;font-display: swap;}

