@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-ExtraLight.otf.woff2) format("woff2"),url(SourceSansPro-ExtraLight.otf.woff) format("woff"),url(SourceSansPro-ExtraLight.ttf) format("truetype");font-weight:200;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-ExtraLightIt.otf.woff2) format("woff2"),url(SourceSansPro-ExtraLightIt.otf.woff) format("woff"),url(SourceSansPro-ExtraLightIt.ttf) format("truetype");font-weight:200;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-Light.otf.woff2) format("woff2"),url(SourceSansPro-Light.otf.woff) format("woff"),url(SourceSansPro-Light.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-LightIt.otf.woff2) format("woff2"),url(SourceSansPro-LightIt.otf.woff) format("woff"),url(SourceSansPro-LightIt.ttf) format("truetype");font-weight:300;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-Regular.otf.woff2) format("woff2"),url(SourceSansPro-Regular.otf.woff) format("woff"),url(SourceSansPro-Regular.ttf) format("truetype");font-weight:400;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-It.otf.woff2) format("woff2"),url(SourceSansPro-It.otf.woff) format("woff"),url(SourceSansPro-It.ttf) format("truetype");font-weight:400;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-Semibold.otf.woff2) format("woff2"),url(SourceSansPro-Semibold.otf.woff) format("woff"),url(SourceSansPro-Semibold.ttf) format("truetype");font-weight:600;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-SemiboldIt.otf.woff2) format("woff2"),url(SourceSansPro-SemiboldIt.otf.woff) format("woff"),url(SourceSansPro-SemiboldIt.ttf) format("truetype");font-weight:600;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-Bold.otf.woff2) format("woff2"),url(SourceSansPro-Bold.otf.woff) format("woff"),url(SourceSansPro-Bold.ttf) format("truetype");font-weight:700;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-BoldIt.otf.woff2) format("woff2"),url(SourceSansPro-BoldIt.otf.woff) format("woff"),url(SourceSansPro-BoldIt.ttf) format("truetype");font-weight:700;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-Black.otf.woff2) format("woff2"),url(SourceSansPro-Black.otf.woff) format("woff"),url(SourceSansPro-Black.ttf) format("truetype");font-weight:900;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Sans Pro";src:url(SourceSansPro-BlackIt.otf.woff2) format("woff2"),url(SourceSansPro-BlackIt.otf.woff) format("woff"),url(SourceSansPro-BlackIt.ttf) format("truetype");font-weight:900;font-style:italic;font-stretch:normal;font-display: swap;}

