/*! Micon v2.2.155 | MIT License | http://xtoolkit.github.io/Micon/ */

@font-face {
	font-family: "micon_nb";
	src: url(micon_nb.woff2?v=2.2.155) format("woff2"),
	url(micon_nb.woff?v=2.2.155) format("woff"),
	url(micon_nb.ttf?v=2.2.155) format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.mi {
	display: inline-block;
	font: normal normal normal 14px/1 micon_nb;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mi-lg {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.mi-2x {
	font-size: 2em;
}

.mi-3x {
	font-size: 3em;
}

.mi-4x {
	font-size: 4em;
}

.mi-5x {
	font-size: 5em;
}

.mi-fw {
	width: 1.28571429em;
	text-align: center;
}

.mi-ul {
	padding-left: 0;
	margin-left: 2.14285714em;
	list-style-type: none;
}

.mi-ul>li {
	position: relative;
}

.mi-li {
	position: absolute;
	left: -2.14285714em;
	width: 2.14285714em;
	top: 0.14285714em;
	text-align: center;
}

.mi-li.mi-lg {
	left: -1.85714286em;
}

.mi-border {
	padding: .2em .25em .15em;
	border: solid 0.08em #eee;
	border-radius: .1em;
}

.mi-pull-left {
	float: left;
}

.mi-pull-right {
	float: right;
}

.mi.mi-pull-left {
	margin-right: .3em;
}

.mi.mi-pull-right {
	margin-left: .3em;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.mi.pull-left {
	margin-right: .3em;
}

.mi.pull-right {
	margin-left: .3em;
}

.mi-spin {
	-webkit-animation: mi-spin 2s infinite linear;
	animation: mi-spin 2s infinite linear;
}

.mi-pulse {
	-webkit-animation: mi-spin 1s infinite steps(8);
	animation: mi-spin 1s infinite steps(8);
}

@-webkit-keyframes mi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes mi-spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

.mi-rotate-90 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.mi-rotate-180 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.mi-rotate-270 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.mi-flip-horizontal {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
	-webkit-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.mi-flip-vertical {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}

:root .mi-rotate-90, :root .mi-rotate-180, :root .mi-rotate-270, :root .mi-flip-horizontal, :root .mi-flip-vertical {
	filter: none;
}

.mi-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
}

.mi-stack-1x, .mi-stack-2x {
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
}

.mi-stack-1x {
	line-height: inherit;
}

.mi-stack-2x {
	font-size: 2em;
}

.mi-inverse {
	color: #fff;
}

.mi-Accept:before, .mi-AcceptLegacy:before, .mi-CheckmarkListviewLegacy:before, .mi-CheckmarkMenuLegacy:before {
	content: "\EA01";
}

.mi-Accident:before {
	content: "\EA02";
}

.mi-AccidentSolid:before {
	content: "\EA03";
}

.mi-Accounts:before, .mi-AccountsLegacy:before {
	content: "\EA04";
}

.mi-ActionCenter:before {
	content: "\EA05";
}

.mi-ActionCenterAsterisk:before {
	content: "\EA06";
}

.mi-ActionCenterMirrored:before {
	content: "\EA07";
}

.mi-ActionCenterNotification:before {
	content: "\EA08";
}

.mi-ActionCenterNotificationMirrored:before {
	content: "\EA09";
}

.mi-ActionCenterQuiet:before {
	content: "\EA0A";
}

.mi-ActionCenterQuietNotification:before {
	content: "\EA0B";
}

.mi-Add:before, .mi-AddLegacy:before {
	content: "\EA0C";
}

.mi-AddFriend:before, .mi-AddFriendLegacy:before {
	content: "\EA0D";
}

.mi-AddRemoteDevice:before {
	content: "\EA0E";
}

.mi-AddSurfaceHub:before {
	content: "\EA0F";
}

.mi-AddTo:before {
	content: "\EA10";
}

.mi-AdjustHologram:before {
	content: "\EA11";
}

.mi-Admin:before, .mi-AdminLegacy:before {
	content: "\EA12";
}

.mi-Airplane:before {
	content: "\EA13";
}

.mi-AirplaneSolid:before {
	content: "\EA14";
}

.mi-AlignCenter:before, .mi-AlignCenterLegacy:before {
	content: "\EA15";
}

.mi-AlignLeft:before, .mi-AlignLeftLegacy:before {
	content: "\EA16";
}

.mi-AlignRight:before, .mi-AlignRightLegacy:before {
	content: "\EA17";
}

.mi-AllApps:before, .mi-AllAppsLegacy:before {
	content: "\EA18";
}

.mi-AllAppsLegacyMirrored:before, .mi-AllAppsMirrored:before {
	content: "\EA19";
}

.mi-Annotation:before {
	content: "\EA1A";
}

.mi-AppIconDefault:before {
	content: "\EA1B";
}

.mi-AspectRatio:before {
	content: "\EA1C";
}

.mi-Asterisk:before {
	content: "\EA1D";
}

.mi-AsteriskBadge12:before {
	content: "\EA1E";
}

.mi-Attach:before, .mi-AttachLegacy:before {
	content: "\EA1F";
}

.mi-AttachCamera:before, .mi-AttachCameraLegacy:before {
	content: "\EA20";
}

.mi-Audio:before, .mi-AudioLegacy:before {
	content: "\EA21";
}

.mi-ArrowHTMLLegacy:before, .mi-Back:before, .mi-BackBttnArrow20Legacy:before, .mi-BackBttnArrow42Legacy:before, .mi-BackLegacy:before {
	content: "\EA22";
}

.mi-BackSpaceQWERTYLg:before {
	content: "\EA23";
}

.mi-BackSpaceQWERTYMd:before {
	content: "\EA24";
}

.mi-BackSpaceQWERTYSm:before {
	content: "\EA25";
}

.mi-BackToWindow:before, .mi-BackToWindowLegacy:before {
	content: "\EA26";
}

.mi-BackgroundToggle:before {
	content: "\EA27";
}

.mi-Badge:before {
	content: "\EA28";
}

.mi-Bank:before {
	content: "\EA29";
}

.mi-BarcodeScanner:before {
	content: "\EA2A";
}

.mi-Battery0:before {
	content: "\EA2B";
}

.mi-Battery1:before {
	content: "\EA2C";
}

.mi-Battery10:before {
	content: "\EA2D";
}

.mi-Battery2:before {
	content: "\EA2E";
}

.mi-Battery3:before {
	content: "\EA2F";
}

.mi-Battery4:before {
	content: "\EA30";
}

.mi-Battery5:before {
	content: "\EA31";
}

.mi-Battery6:before {
	content: "\EA32";
}

.mi-Battery7:before {
	content: "\EA33";
}

.mi-Battery8:before {
	content: "\EA34";
}

.mi-Battery9:before {
	content: "\EA35";
}

.mi-BatteryCharging0:before {
	content: "\EA36";
}

.mi-BatteryCharging1:before {
	content: "\EA37";
}

.mi-BatteryCharging10:before {
	content: "\EA38";
}

.mi-BatteryCharging2:before {
	content: "\EA39";
}

.mi-BatteryCharging3:before {
	content: "\EA3A";
}

.mi-BatteryCharging4:before {
	content: "\EA3B";
}

.mi-BatteryCharging5:before {
	content: "\EA3C";
}

.mi-BatteryCharging6:before {
	content: "\EA3D";
}

.mi-BatteryCharging7:before {
	content: "\EA3E";
}

.mi-BatteryCharging8:before {
	content: "\EA3F";
}

.mi-BatteryCharging9:before {
	content: "\EA40";
}

.mi-BatterySaver0:before {
	content: "\EA41";
}

.mi-BatterySaver1:before {
	content: "\EA42";
}

.mi-BatterySaver10:before {
	content: "\EA43";
}

.mi-BatterySaver2:before {
	content: "\EA44";
}

.mi-BatterySaver3:before {
	content: "\EA45";
}

.mi-BatterySaver4:before {
	content: "\EA46";
}

.mi-BatterySaver5:before {
	content: "\EA47";
}

.mi-BatterySaver6:before {
	content: "\EA48";
}

.mi-BatterySaver7:before {
	content: "\EA49";
}

.mi-BatterySaver8:before {
	content: "\EA4A";
}

.mi-BatterySaver9:before {
	content: "\EA4B";
}

.mi-BatteryUnknown:before {
	content: "\EA4C";
}

.mi-Beta:before {
	content: "\EA4D";
}

.mi-BidiLtr:before {
	content: "\EA4E";
}

.mi-BidiRtl:before {
	content: "\EA4F";
}

.mi-BlockContact:before, .mi-BlockContactLegacy:before {
	content: "\EA50";
}

.mi-BlockedLegacy:before {
	content: "\EA51";
}

.mi-Bluetooth:before {
	content: "\EA52";
}

.mi-BodyCam:before {
	content: "\EA53";
}

.mi-Bold:before, .mi-BoldLegacy:before {
	content: "\EA54";
}

.mi-BoldFLegacy:before {
	content: "\EA55";
}

.mi-BoldGLegacy:before {
	content: "\EA56";
}

.mi-BoldKoreanLegacy:before {
	content: "\EA57";
}

.mi-BoldNLegacy:before {
	content: "\EA58";
}

.mi-BoldRussionLegacy:before {
	content: "\EA59";
}

.mi-Bookmarks:before, .mi-BookmarksLegacy:before {
	content: "\EA5A";
}

.mi-BookmarksLegacyMirrored:before, .mi-BookmarksMirrored:before {
	content: "\EA5B";
}

.mi-Brightness:before {
	content: "\EA5C";
}

.mi-Broom:before {
	content: "\EA5D";
}

.mi-BrowsePhotos:before, .mi-BrowsePhotosLegacy:before {
	content: "\EA5E";
}

.mi-BrushSize:before {
	content: "\EA5F";
}

.mi-BuildingEnergy:before {
	content: "\EA60";
}

.mi-BulletedList:before, .mi-BulletedListLegacy:before, .mi-ListLegacy:before {
	content: "\EA61";
}

.mi-BulletedListLegacyMirrored:before, .mi-BulletedListMirrored:before, .mi-ListLegacyMirrored:before {
	content: "\EA62";
}

.mi-Bus:before {
	content: "\EA63";
}

.mi-BusSolid:before {
	content: "\EA64";
}

.mi-CC:before, .mi-CCLegacy:before {
	content: "\EA65";
}

.mi-CCEuroLegacy:before {
	content: "\EA66";
}

.mi-CCJapanLegacy:before {
	content: "\EA67";
}

.mi-Calculator:before, .mi-CalculatorLegacy:before {
	content: "\EA68";
}

.mi-CalculatorAddition:before {
	content: "\EA69";
}

.mi-BackSpaceQWERTY:before, .mi-CalculatorBackspace:before {
	content: "\EA6A";
}

.mi-CalculatorDivide:before {
	content: "\EA6B";
}

.mi-CalculatorEqualTo:before {
	content: "\EA6C";
}

.mi-CalculatorMultiply:before {
	content: "\EA6D";
}

.mi-CalculatorNegate:before {
	content: "\EA6E";
}

.mi-CalculatorPercentage:before {
	content: "\EA6F";
}

.mi-CalculatorSquareroot:before {
	content: "\EA70";
}

.mi-CalculatorSubtract:before {
	content: "\EA71";
}

.mi-Calendar:before, .mi-CalendarLegacy:before {
	content: "\EA72";
}

.mi-CalendarDay:before, .mi-CalendarDayLegacy:before {
	content: "\EA73";
}

.mi-CalendarLegacyMirrored:before, .mi-CalendarMirrored:before {
	content: "\EA74";
}

.mi-CalendarReply:before, .mi-CalendarReplyLegacy:before {
	content: "\EA75";
}

.mi-CalendarSolid:before {
	content: "\EA76";
}

.mi-CalendarWeek:before, .mi-CalendarWeekLegacy:before {
	content: "\EA77";
}

.mi-CaligraphyPen:before {
	content: "\EA78";
}

.mi-CallForwardInternational:before {
	content: "\EA79";
}

.mi-CallForwardInternationalMirrored:before {
	content: "\EA7A";
}

.mi-CallForwardRoaming:before {
	content: "\EA7B";
}

.mi-CallForwardRoamingMirrored:before {
	content: "\EA7C";
}

.mi-CallForwarding:before {
	content: "\EA7D";
}

.mi-CallForwardingMirrored:before {
	content: "\EA7E";
}

.mi-Camera:before, .mi-CameraLegacy:before {
	content: "\EA7F";
}

.mi-Cancel:before, .mi-CancelLegacy:before {
	content: "\EA80";
}

.mi-Caption:before, .mi-CaptionLegacy:before {
	content: "\EA81";
}

.mi-Car:before, .mi-DrivingMode:before {
	content: "\EA82";
}

.mi-CashDrawer:before {
	content: "\EA83";
}

.mi-CellPhone:before, .mi-CellPhoneLegacy:before, .mi-MobileContactLegacy:before {
	content: "\EA84";
}

.mi-Certificate:before {
	content: "\EA85";
}

.mi-Characters:before, .mi-CharactersLegacy:before {
	content: "\EA86";
}

.mi-ChatBubbles:before {
	content: "\EA87";
}

.mi-CheckMark:before, .mi-CheckMarkLegacy:before, .mi-CheckMarkZeroWidthLegacy:before {
	content: "\EA88";
}

.mi-Checkbox:before, .mi-CheckboxLegacy:before {
	content: "\EA89";
}

.mi-CheckboxComposite:before, .mi-CheckboxCompositeLegacy:before {
	content: "\EA8A";
}

.mi-CheckboxCompositeReversed:before, .mi-CheckboxCompositeReversedLegacy:before {
	content: "\EA8B";
}

.mi-CheckboxFill:before, .mi-CheckboxFillLegacy:before, .mi-CheckboxFillZeroWidthLegacy:before, .mi-PresenceChicklet:before, .mi-PresenceChickletLegacy:before, .mi-ResizeMouseLarge:before {
	content: "\EA8C";
}

.mi-CheckboxIndeterminate:before, .mi-CheckboxIndeterminateLegacy:before {
	content: "\EA8D";
}

.mi-ChevronDown:before, .mi-ChevronDown1Legacy:before, .mi-ChevronDown2Legacy:before, .mi-ChevronDown3Legacy:before, .mi-ChevronDown4Legacy:before, .mi-ChevronFlipDownLegacy:before, .mi-ScrollChevronDownBoldLegacy:before, .mi-ScrollChevronDownLegacy:before {
	content: "\EA8E";
}

.mi-ChevronDownMed:before {
	content: "\EA8F";
}

.mi-ChevronDownSmLegacy:before, .mi-ChevronDownSmall:before {
	content: "\EA90";
}

.mi-ChevronFlipLeftLegacy:before, .mi-ChevronLeft:before, .mi-ChevronLeft1Legacy:before, .mi-ChevronLeft2Legacy:before, .mi-ChevronLeft3Legacy:before, .mi-ChevronLeft4Legacy:before, .mi-ScrollChevronLeftBoldLegacy:before, .mi-ScrollChevronLeftLegacy:before {
	content: "\EA91";
}

.mi-ChevronLeftMed:before {
	content: "\EA92";
}

.mi-ChevronLeftSmLegacy:before, .mi-ChevronLeftSmall:before {
	content: "\EA93";
}

.mi-ChevronFlipRightLegacy:before, .mi-ChevronRight:before, .mi-ChevronRight1Legacy:before, .mi-ChevronRight2Legacy:before, .mi-ChevronRight3Legacy:before, .mi-ChevronRight4Legacy:before, .mi-ScrollChevronRightBoldLegacy:before, .mi-ScrollChevronRightLegacy:before {
	content: "\EA94";
}

.mi-ChevronRightMed:before {
	content: "\EA95";
}

.mi-ChevronRightSmLegacy:before, .mi-ChevronRightSmall:before {
	content: "\EA96";
}

.mi-ChevronFlipUpLegacy:before, .mi-ChevronUp:before, .mi-ChevronUp1Legacy:before, .mi-ChevronUp2Legacy:before, .mi-ChevronUp3Legacy:before, .mi-ChevronUp4Legacy:before, .mi-ScrollChevronUpBoldLegacy:before, .mi-ScrollChevronUpLegacy:before {
	content: "\EA97";
}

.mi-ChevronUpMed:before {
	content: "\EA98";
}

.mi-ChevronUpSmall:before {
	content: "\EA99";
}

.mi-ChineseBoPoMoFo:before {
	content: "\EA9A";
}

.mi-ChineseChangjie:before {
	content: "\EA9B";
}

.mi-ChinesePinyin:before {
	content: "\EA9C";
}

.mi-ChineseQuick:before {
	content: "\EA9D";
}

.mi-ChromeAnnotate:before {
	content: "\EA9E";
}

.mi-ChromeBack:before {
	content: "\EA9F";
}

.mi-ChromeBackMirrored:before {
	content: "\EAA0";
}

.mi-ChromeBackToWindow:before {
	content: "\EAA1";
}

.mi-ChromeClose:before {
	content: "\EAA2";
}

.mi-ChromeFullScreen:before {
	content: "\EAA3";
}

.mi-ChromeMaximize:before {
	content: "\EAA4";
}

.mi-ChromeMinimize:before {
	content: "\EAA5";
}

.mi-ChromeRestore:before {
	content: "\EAA6";
}

.mi-CircleFill:before {
	content: "\EAA7";
}

.mi-CircleFillBadge12:before {
	content: "\EAA8";
}

.mi-CircleRing:before {
	content: "\EAA9";
}

.mi-CircleRingBadge12:before {
	content: "\EAAA";
}

.mi-CityNext:before {
	content: "\EAAB";
}

.mi-CityNext2:before {
	content: "\EAAC";
}

.mi-Clear:before, .mi-ClearLegacy:before {
	content: "\EAAD";
}

.mi-ClearAllInk:before {
	content: "\EAAE";
}

.mi-ClearAllInkMirrored:before {
	content: "\EAAF";
}

.mi-ClearSelection:before, .mi-ClearSelectionLegacy:before {
	content: "\EAB0";
}

.mi-ClearSelectionLegacyMirrored:before, .mi-ClearSelectionMirrored:before {
	content: "\EAB1";
}

.mi-Click:before {
	content: "\EAB2";
}

.mi-ClockLegacy:before {
	content: "\EAB3";
}

.mi-ClosePane:before, .mi-ClosePaneLegacy:before {
	content: "\EAB4";
}

.mi-ClosePaneLegacyMirrored:before, .mi-ClosePaneMirrored:before {
	content: "\EAB5";
}

.mi-Cloud:before {
	content: "\EAB6";
}

.mi-CloudPrinter:before {
	content: "\EAB7";
}

.mi-Code:before {
	content: "\EAB8";
}

.mi-Color:before, .mi-ColorLegacy:before {
	content: "\EAB9";
}

.mi-CommaKey:before {
	content: "\EABA";
}

.mi-CommandPrompt:before {
	content: "\EABB";
}

.mi-Comment:before, .mi-CommentLegacy:before {
	content: "\EABC";
}

.mi-Communications:before {
	content: "\EABD";
}

.mi-CompanionApp:before {
	content: "\EABE";
}

.mi-CompanionDeviceFramework:before {
	content: "\EABF";
}

.mi-Completed:before {
	content: "\EAC0";
}

.mi-CompletedSolid:before {
	content: "\EAC1";
}

.mi-Component:before {
	content: "\EAC2";
}

.mi-Connect:before {
	content: "\EAC3";
}

.mi-ConnectApp:before, .mi-MiracastLogoLarge:before {
	content: "\EAC4";
}

.mi-Construction:before {
	content: "\EAC5";
}

.mi-ConstructionCone:before {
	content: "\EAC6";
}

.mi-ConstructionSolid:before {
	content: "\EAC7";
}

.mi-Contact:before, .mi-Contact3Legacy:before, .mi-ContactLegacy:before {
	content: "\EAC8";
}

.mi-Contact2:before, .mi-Contact2Legacy:before {
	content: "\EAC9";
}

.mi-ContactInfo:before, .mi-ContactInfoLegacy:before {
	content: "\EACA";
}

.mi-ContactInfoMirrored:before {
	content: "\EACB";
}

.mi-ContactPresence:before, .mi-ContactPresenceLegacy:before {
	content: "\EACC";
}

.mi-ContactSolid:before {
	content: "\EACD";
}

.mi-Copy:before, .mi-CopyLegacy:before {
	content: "\EACE";
}

.mi-Courthouse:before {
	content: "\EACF";
}

.mi-Crop:before, .mi-CropLegacy:before {
	content: "\EAD0";
}

.mi-Cut:before, .mi-CutLegacy:before {
	content: "\EAD1";
}

.mi-DMC:before {
	content: "\EAD2";
}

.mi-DashKey:before {
	content: "\EAD3";
}

.mi-DataSense:before {
	content: "\EAD4";
}

.mi-DataSenseBar:before {
	content: "\EAD5";
}

.mi-DateTime:before {
	content: "\EAD6";
}

.mi-DateTimeMirrored:before {
	content: "\EAD7";
}

.mi-DecreaseIndentLegacy:before {
	content: "\EAD8";
}

.mi-DecreaseIndentLegacyMirrored:before {
	content: "\EAD9";
}

.mi-DefenderApp:before {
	content: "\EADA";
}

.mi-Delete:before, .mi-DeleteLegacy:before {
	content: "\EADB";
}

.mi-DevUpdate:before {
	content: "\EADC";
}

.mi-DeveloperTools:before {
	content: "\EADD";
}

.mi-DeviceDiscovery:before {
	content: "\EADE";
}

.mi-DeviceLaptopNoPic:before {
	content: "\EADF";
}

.mi-DeviceLaptopPic:before {
	content: "\EAE0";
}

.mi-DeviceMonitorLeftPic:before {
	content: "\EAE1";
}

.mi-DeviceMonitorNoPic:before {
	content: "\EAE2";
}

.mi-DeviceMonitorRightPic:before {
	content: "\EAE3";
}

.mi-Devices:before {
	content: "\EAE4";
}

.mi-Devices3:before {
	content: "\EAE5";
}

.mi-Devices4:before {
	content: "\EAE6";
}

.mi-Devices2:before, .mi-DevicesLegacy:before {
	content: "\EAE7";
}

.mi-Diagnostic:before {
	content: "\EAE8";
}

.mi-DialUp:before {
	content: "\EAE9";
}

.mi-Dialpad:before {
	content: "\EAEA";
}

.mi-Dictionary:before {
	content: "\EAEB";
}

.mi-DictionaryAdd:before {
	content: "\EAEC";
}

.mi-DictionaryCloud:before {
	content: "\EAED";
}

.mi-DirectAccess:before {
	content: "\EAEE";
}

.mi-Directions:before, .mi-DirectionsLegacy:before {
	content: "\EAEF";
}

.mi-DisableUpdates:before, .mi-DisableUpdatesLegacy:before {
	content: "\EAF0";
}

.mi-DisconnectDisplay:before {
	content: "\EAF1";
}

.mi-DisconnectDrive:before, .mi-DisconnectDriveLegacy:before {
	content: "\EAF2";
}

.mi-Dislike:before, .mi-DislikeLegacy:before {
	content: "\EAF3";
}

.mi-Dock:before {
	content: "\EAF4";
}

.mi-DockBottom:before, .mi-DockBottomLegacy:before {
	content: "\EAF5";
}

.mi-DockLeft:before, .mi-DockLeftLegacy:before {
	content: "\EAF6";
}

.mi-DockLeftLegacyMirrored:before, .mi-DockLeftMirrored:before {
	content: "\EAF7";
}

.mi-DockRight:before, .mi-DockRightLegacy:before {
	content: "\EAF8";
}

.mi-DockRightLegacyMirrored:before, .mi-DockRightMirrored:before {
	content: "\EAF9";
}

.mi-Document:before, .mi-DocumentLegacy:before {
	content: "\EAFA";
}

.mi-Down:before, .mi-DownLegacy:before {
	content: "\EAFB";
}

.mi-DownShiftKey:before {
	content: "\EAFC";
}

.mi-Download:before, .mi-DownloadLegacy:before {
	content: "\EAFD";
}

.mi-DownloadMap:before {
	content: "\EAFE";
}

.mi-Draw:before {
	content: "\EAFF";
}

.mi-DrawSolid:before {
	content: "\EB00";
}

.mi-Drop:before {
	content: "\EB01";
}

.mi-DullSound:before {
	content: "\EB02";
}

.mi-DullSoundKey:before {
	content: "\EB03";
}

.mi-EaseOfAccess:before, .mi-EaseOfAccessLegacy:before {
	content: "\EB04";
}

.mi-Edit:before, .mi-EditLegacy:before {
	content: "\EB05";
}

.mi-EditLegacyMirrored:before, .mi-EditMirrored:before {
	content: "\EB06";
}

.mi-Education:before {
	content: "\EB07";
}

.mi-Emoji:before, .mi-EmojiLegacy:before {
	content: "\EB08";
}

.mi-Emoji2:before, .mi-Emoji2Legacy:before {
	content: "\EB09";
}

.mi-EmojiSwatch:before {
	content: "\EB0A";
}

.mi-EmojiTabCelebrationObjects:before {
	content: "\EB0B";
}

.mi-EmojiTabFavorites:before {
	content: "\EB0C";
}

.mi-EmojiTabFoodPlants:before {
	content: "\EB0D";
}

.mi-EmojiTabPeople:before {
	content: "\EB0E";
}

.mi-EmojiTabSmilesAnimals:before {
	content: "\EB0F";
}

.mi-EmojiTabSymbols:before {
	content: "\EB10";
}

.mi-EmojiTabTextSmiles:before {
	content: "\EB11";
}

.mi-EmojiTabTransitPlaces:before {
	content: "\EB12";
}

.mi-EndPointSolid:before {
	content: "\EB13";
}

.mi-EraseTool:before {
	content: "\EB14";
}

.mi-EraseToolFill:before {
	content: "\EB15";
}

.mi-EraseToolFill2:before {
	content: "\EB16";
}

.mi-Error:before {
	content: "\EB17";
}

.mi-ErrorBadge:before {
	content: "\EB18";
}

.mi-ErrorBadge12:before {
	content: "\EB19";
}

.mi-Ethernet:before {
	content: "\EB1A";
}

.mi-EthernetError:before {
	content: "\EB1B";
}

.mi-EthernetWarning:before {
	content: "\EB1C";
}

.mi-ExpandTile:before, .mi-ExpandTileLegacy:before {
	content: "\EB1D";
}

.mi-ExpandTileLegacyMirrored:before, .mi-ExpandTileMirrored:before {
	content: "\EB1E";
}

.mi-ExploreContent:before {
	content: "\EB1F";
}

.mi-Export:before, .mi-ImportLegacyMirrored:before, .mi-ImportMirrored:before {
	content: "\EB20";
}

.mi-FastForward:before {
	content: "\EB21";
}

.mi-Favorite2Legacy:before, .mi-FavoriteLegacy:before, .mi-FavoriteStarFill:before, .mi-RatingStarFillLegacy:before, .mi-RatingStarFillReducedPaddingHTMLLegacy:before, .mi-RatingStarFillSmallLegacy:before, .mi-RatingStarFillZeroWidthLegacy:before, .mi-SolidStarLegacy:before {
	content: "\EB22";
}

.mi-FavoriteList:before {
	content: "\EB23";
}

.mi-FavoriteInlineLegacy:before, .mi-FavoriteStar:before, .mi-OutlineStarLegacy:before, .mi-RatingStarLegacy:before, .mi-Unfavorite2Legacy:before {
	content: "\EB24";
}

.mi-Feedback:before {
	content: "\EB25";
}

.mi-FeedbackApp:before {
	content: "\EB26";
}

.mi-Ferry:before {
	content: "\EB27";
}

.mi-FerrySolid:before {
	content: "\EB28";
}

.mi-FileExplorer:before {
	content: "\EB29";
}

.mi-FileExplorerApp:before {
	content: "\EB2A";
}

.mi-Filter:before, .mi-FilterLegacy:before {
	content: "\EB2B";
}

.mi-FingerInking:before {
	content: "\EB2C";
}

.mi-Fingerprint:before {
	content: "\EB2D";
}

.mi-EndPoint:before, .mi-Flag:before, .mi-FlagLegacy:before {
	content: "\EB2E";
}

.mi-Flashlight:before {
	content: "\EB2F";
}

.mi-FlickDown:before {
	content: "\EB30";
}

.mi-FlickLeft:before {
	content: "\EB31";
}

.mi-FlickRight:before {
	content: "\EB32";
}

.mi-FlickUp:before {
	content: "\EB33";
}

.mi-Folder:before {
	content: "\EB34";
}

.mi-FolderFill:before, .mi-FolderLegacy:before {
	content: "\EB35";
}

.mi-Font:before, .mi-FontLegacy:before {
	content: "\EB36";
}

.mi-FontColor:before, .mi-FontColorLegacy:before {
	content: "\EB37";
}

.mi-FontColorKoreanLegacy:before {
	content: "\EB38";
}

.mi-FontDecrease:before, .mi-FontDecreaseLegacy:before {
	content: "\EB39";
}

.mi-FontIncrease:before, .mi-FontIncreaseLegacy:before {
	content: "\EB3A";
}

.mi-FontSize:before, .mi-FontSizeLegacy:before {
	content: "\EB3B";
}

.mi-FontStyleKoreanLegacy:before {
	content: "\EB3C";
}

.mi-ArrowHTMLLegacyMirrored:before, .mi-BackBttnMirroredArrow20Legacy:before, .mi-BackBttnMirroredArrow42Legacy:before, .mi-Forward:before, .mi-ForwardLegacy:before {
	content: "\EB3D";
}

.mi-ForwardSm:before {
	content: "\EB3E";
}

.mi-FourBars:before, .mi-FourBarsLegacy:before {
	content: "\EB3F";
}

.mi-Frigid:before {
	content: "\EB40";
}

.mi-FullAlpha:before {
	content: "\EB41";
}

.mi-FullCircleMask:before {
	content: "\EB42";
}

.mi-FullHiragana:before {
	content: "\EB43";
}

.mi-FullKatakana:before {
	content: "\EB44";
}

.mi-FullScreen:before, .mi-FullScreenLegacy:before {
	content: "\EB45";
}

.mi-Game:before {
	content: "\EB46";
}

.mi-GameConsole:before {
	content: "\EB47";
}

.mi-GlobalNavButton:before {
	content: "\EB48";
}

.mi-Globe:before, .mi-GlobeLegacy:before {
	content: "\EB49";
}

.mi-Go:before, .mi-GoLegacy:before {
	content: "\EB4A";
}

.mi-GoLegacyMirrored:before, .mi-GoMirrored:before {
	content: "\EB4B";
}

.mi-GoToStart:before, .mi-GoToStartLegacy:before {
	content: "\EB4C";
}

.mi-GotoToday:before, .mi-GotoTodayLegacy:before {
	content: "\EB4D";
}

.mi-GripperBarHorizontal:before {
	content: "\EB4E";
}

.mi-GripperBarVertical:before {
	content: "\EB4F";
}

.mi-GripperResize:before {
	content: "\EB50";
}

.mi-GripperResizeMirrored:before {
	content: "\EB51";
}

.mi-GripperTool:before {
	content: "\EB52";
}

.mi-Groceries:before {
	content: "\EB53";
}

.mi-GuestUser:before {
	content: "\EB54";
}

.mi-HalfAlpha:before {
	content: "\EB55";
}

.mi-HalfDullSound:before {
	content: "\EB56";
}

.mi-HalfKatakana:before {
	content: "\EB57";
}

.mi-HalfStarLeft:before {
	content: "\EB58";
}

.mi-HalfStarRight:before {
	content: "\EB59";
}

.mi-Handwriting:before {
	content: "\EB5A";
}

.mi-HangUp:before, .mi-HangUpLegacy:before {
	content: "\EB5B";
}

.mi-HardDrive:before {
	content: "\EB5C";
}

.mi-Headphone:before {
	content: "\EB5D";
}

.mi-Headphone0:before {
	content: "\EB5E";
}

.mi-Headphone1:before {
	content: "\EB5F";
}

.mi-Headphone2:before {
	content: "\EB60";
}

.mi-Headphone3:before {
	content: "\EB61";
}

.mi-Headset:before {
	content: "\EB62";
}

.mi-Health:before {
	content: "\EB63";
}

.mi-Heart:before, .mi-HeartLegacy:before {
	content: "\EB64";
}

.mi-HeartBroken:before {
	content: "\EB65";
}

.mi-HeartBrokenLegacy:before, .mi-HeartBrokenZeroWidthLegacy:before {
	content: "\EB66";
}

.mi-HeartFill:before, .mi-HeartFillLegacy:before, .mi-HeartFillZeroWidthLegacy:before {
	content: "\EB67";
}

.mi-Help:before, .mi-HelpLegacy:before {
	content: "\EB68";
}

.mi-HelpLegacyMirrored:before, .mi-HelpMirrored:before {
	content: "\EB69";
}

.mi-HideBcc:before, .mi-HideBccLegacy:before {
	content: "\EB6A";
}

.mi-Highlight:before, .mi-HighlightLegacy:before {
	content: "\EB6B";
}

.mi-HighlightFill:before {
	content: "\EB6C";
}

.mi-HighlightFill2:before {
	content: "\EB6D";
}

.mi-History:before {
	content: "\EB6E";
}

.mi-Home:before, .mi-HomeLegacy:before {
	content: "\EB6F";
}

.mi-HomeGroup:before {
	content: "\EB70";
}

.mi-HomeSolid:before {
	content: "\EB71";
}

.mi-HorizontalTabKey:before {
	content: "\EB72";
}

.mi-IBeam:before {
	content: "\EB73";
}

.mi-IBeamOutline:before {
	content: "\EB74";
}

.mi-ImageExport:before {
	content: "\EB75";
}

.mi-ExportMirrored:before, .mi-Import:before, .mi-ImportLegacy:before {
	content: "\EB76";
}

.mi-ImportAll:before, .mi-ImportAllLegacy:before {
	content: "\EB77";
}

.mi-ImportAllLegacyMirrored:before, .mi-ImportAllMirrored:before {
	content: "\EB78";
}

.mi-Important:before, .mi-ImportantLegacy:before {
	content: "\EB79";
}

.mi-ImportantBadge12:before {
	content: "\EB7A";
}

.mi-InPrivate:before {
	content: "\EB7B";
}

.mi-IncidentTriangle:before {
	content: "\EB7C";
}

.mi-IncreaseIndentLegacy:before {
	content: "\EB7D";
}

.mi-IncreaseIndentLegacyMirrored:before {
	content: "\EB7E";
}

.mi-Info:before {
	content: "\EB7F";
}

.mi-Info2:before {
	content: "\EB80";
}

.mi-InkingCaret:before {
	content: "\EB81";
}

.mi-InkingColorFill:before {
	content: "\EB82";
}

.mi-InkingColorOutline:before {
	content: "\EB83";
}

.mi-InkingTool:before {
	content: "\EB84";
}

.mi-InkingToolFill:before {
	content: "\EB85";
}

.mi-InkingToolFill2:before {
	content: "\EB86";
}

.mi-Input:before {
	content: "\EB87";
}

.mi-InsiderHubApp:before {
	content: "\EB88";
}

.mi-Italic:before, .mi-ItalicLegacy:before {
	content: "\EB89";
}

.mi-ItalicCLegacy:before {
	content: "\EB8A";
}

.mi-ItalicILegacy:before {
	content: "\EB8B";
}

.mi-ItalicKLegacy:before {
	content: "\EB8C";
}

.mi-ItalicKoreanLegacy:before {
	content: "\EB8D";
}

.mi-ItalicRussianLegacy:before {
	content: "\EB8E";
}

.mi-Japanese:before {
	content: "\EB8F";
}

.mi-JpnRomanji:before {
	content: "\EB90";
}

.mi-JpnRomanjiLock:before {
	content: "\EB91";
}

.mi-JpnRomanjiShift:before {
	content: "\EB92";
}

.mi-JpnRomanjiShiftLock:before {
	content: "\EB93";
}

.mi-Key12On:before {
	content: "\EB94";
}

.mi-KeyBoardLegacy:before, .mi-KeyboardClassic:before {
	content: "\EB95";
}

.mi-KeyboardBrightness:before {
	content: "\EB96";
}

.mi-KeyboardDismiss:before {
	content: "\EB97";
}

.mi-KeyboardFull:before {
	content: "\EB98";
}

.mi-KeyboardLeftHanded:before {
	content: "\EB99";
}

.mi-KeyboardLowerBrightness:before {
	content: "\EB9A";
}

.mi-KeyboardOneHanded:before {
	content: "\EB9B";
}

.mi-KeyboardRightHanded:before {
	content: "\EB9C";
}

.mi-KeyboardShortcut:before {
	content: "\EB9D";
}

.mi-KeyboardSplit:before, .mi-KeyboardSplitLegacy:before {
	content: "\EB9E";
}

.mi-KeyboardStandard:before, .mi-KeyboardStandardLegacy:before {
	content: "\EB9F";
}

.mi-Korean:before {
	content: "\EBA0";
}

.mi-LEDLight:before {
	content: "\EBA1";
}

.mi-Label:before {
	content: "\EBA2";
}

.mi-LangJPN:before {
	content: "\EBA3";
}

.mi-LanguageChs:before {
	content: "\EBA4";
}

.mi-LanguageCht:before {
	content: "\EBA5";
}

.mi-LanguageJpn:before {
	content: "\EBA6";
}

.mi-LanguageKor:before {
	content: "\EBA7";
}

.mi-LaptopSelected:before {
	content: "\EBA8";
}

.mi-LayoutLegacy:before {
	content: "\EBA9";
}

.mi-Leaf:before {
	content: "\EBAA";
}

.mi-LeaveChat:before, .mi-LeaveChatLegacy:before {
	content: "\EBAB";
}

.mi-LeaveChatMirrored:before {
	content: "\EBAC";
}

.mi-LeftArrowKeyTime0:before {
	content: "\EBAD";
}

.mi-LeftDoubleQuote:before {
	content: "\EBAE";
}

.mi-LeftQuote:before {
	content: "\EBAF";
}

.mi-Library:before, .mi-LibraryLegacy:before {
	content: "\EBB0";
}

.mi-Light:before {
	content: "\EBB1";
}

.mi-Lightbulb:before, .mi-ToolTip:before {
	content: "\EBB2";
}

.mi-LightningBolt:before {
	content: "\EBB3";
}

.mi-Like:before, .mi-LikeInlineLegacy:before, .mi-LikeLegacy:before {
	content: "\EBB4";
}

.mi-LikeDislike:before, .mi-LikeDislikeLegacy:before {
	content: "\EBB5";
}

.mi-Link:before, .mi-LinkLegacy:before {
	content: "\EBB6";
}

.mi-List:before {
	content: "\EBB7";
}

.mi-ListMirrored:before {
	content: "\EBB8";
}

.mi-Location:before, .mi-LocationLegacy:before {
	content: "\EBB9";
}

.mi-Lock:before, .mi-LockLegacy:before {
	content: "\EBBA";
}

.mi-LockScreenGlance:before {
	content: "\EBBB";
}

.mi-LockscreenDesktop:before {
	content: "\EBBC";
}

.mi-LowerBrightness:before {
	content: "\EBBD";
}

.mi-MagStripeReader:before {
	content: "\EBBE";
}

.mi-Mail:before, .mi-MailLegacy:before {
	content: "\EBBF";
}

.mi-MailBadge12:before {
	content: "\EBC0";
}

.mi-MailFill:before, .mi-MailFillLegacy:before, .mi-MailMessageLegacy:before {
	content: "\EBC1";
}

.mi-MailForward:before, .mi-MailForwardLegacy:before {
	content: "\EBC2";
}

.mi-MailForwardLegacyMirrored:before, .mi-MailForwardMirrored:before {
	content: "\EBC3";
}

.mi-MailReply:before, .mi-MailReplyLegacy:before {
	content: "\EBC4";
}

.mi-MailReplyAll:before, .mi-MailReplyAllLegacy:before {
	content: "\EBC5";
}

.mi-MailReplyAllLegacyMirrored:before, .mi-MailReplyAllMirrored:before {
	content: "\EBC6";
}

.mi-MailReplyLegacyMirrored:before, .mi-MailReplyMirrored:before {
	content: "\EBC7";
}

.mi-Manage:before, .mi-ManageLegacy:before {
	content: "\EBC8";
}

.mi-MapCompassBottom:before {
	content: "\EBC9";
}

.mi-MapCompassTop:before {
	content: "\EBCA";
}

.mi-MapDirections:before {
	content: "\EBCB";
}

.mi-MapDrive:before, .mi-MapDriveLegacy:before {
	content: "\EBCC";
}

.mi-MapLayers:before {
	content: "\EBCD";
}

.mi-MapLegacy:before, .mi-MapPin:before {
	content: "\EBCE";
}

.mi-MapPin2:before, .mi-MapPinLegacy:before {
	content: "\EBCF";
}

.mi-Marker:before {
	content: "\EBD0";
}

.mi-Marquee:before {
	content: "\EBD1";
}

.mi-Media:before {
	content: "\EBD2";
}

.mi-MediaStorageTower:before {
	content: "\EBD3";
}

.mi-Megaphone:before {
	content: "\EBD4";
}

.mi-Memo:before, .mi-MemoLegacy:before {
	content: "\EBD5";
}

.mi-CommentInlineLegacy:before, .mi-Message:before, .mi-MessageLegacy:before {
	content: "\EBD6";
}

.mi-MicClipping:before {
	content: "\EBD7";
}

.mi-MicError:before {
	content: "\EBD8";
}

.mi-MicOff:before {
	content: "\EBD9";
}

.mi-MicOn:before {
	content: "\EBDA";
}

.mi-MicSleep:before {
	content: "\EBDB";
}

.mi-Microphone:before, .mi-MicrophoneLegacy:before {
	content: "\EBDC";
}

.mi-MiracastLogoSmall:before {
	content: "\EBDD";
}

.mi-MobActionCenter:before {
	content: "\EBDE";
}

.mi-MobAirplane:before {
	content: "\EBDF";
}

.mi-MobBattery0:before {
	content: "\EBE0";
}

.mi-MobBattery1:before {
	content: "\EBE1";
}

.mi-MobBattery10:before {
	content: "\EBE2";
}

.mi-MobBattery2:before {
	content: "\EBE3";
}

.mi-MobBattery3:before {
	content: "\EBE4";
}

.mi-MobBattery4:before {
	content: "\EBE5";
}

.mi-MobBattery5:before {
	content: "\EBE6";
}

.mi-MobBattery6:before {
	content: "\EBE7";
}

.mi-MobBattery7:before {
	content: "\EBE8";
}

.mi-MobBattery8:before {
	content: "\EBE9";
}

.mi-MobBattery9:before {
	content: "\EBEA";
}

.mi-MobBatteryCharging0:before {
	content: "\EBEB";
}

.mi-MobBatteryCharging1:before {
	content: "\EBEC";
}

.mi-MobBatteryCharging10:before {
	content: "\EBED";
}

.mi-MobBatteryCharging2:before {
	content: "\EBEE";
}

.mi-MobBatteryCharging3:before {
	content: "\EBEF";
}

.mi-MobBatteryCharging4:before {
	content: "\EBF0";
}

.mi-MobBatteryCharging5:before {
	content: "\EBF1";
}

.mi-MobBatteryCharging6:before {
	content: "\EBF2";
}

.mi-MobBatteryCharging7:before {
	content: "\EBF3";
}

.mi-MobBatteryCharging8:before {
	content: "\EBF4";
}

.mi-MobBatteryCharging9:before {
	content: "\EBF5";
}

.mi-MobBatterySaver0:before {
	content: "\EBF6";
}

.mi-MobBatterySaver1:before {
	content: "\EBF7";
}

.mi-MobBatterySaver10:before {
	content: "\EBF8";
}

.mi-MobBatterySaver2:before {
	content: "\EBF9";
}

.mi-MobBatterySaver3:before {
	content: "\EBFA";
}

.mi-MobBatterySaver4:before {
	content: "\EBFB";
}

.mi-MobBatterySaver5:before {
	content: "\EBFC";
}

.mi-MobBatterySaver6:before {
	content: "\EBFD";
}

.mi-MobBatterySaver7:before {
	content: "\EBFE";
}

.mi-MobBatterySaver8:before {
	content: "\EBFF";
}

.mi-MobBatterySaver9:before {
	content: "\EC00";
}

.mi-MobBatteryUnknown:before {
	content: "\EC01";
}

.mi-MobBluetooth:before {
	content: "\EC02";
}

.mi-MobCallForwarding:before {
	content: "\EC03";
}

.mi-MobCallForwardingMirrored:before {
	content: "\EC04";
}

.mi-MobDrivingMode:before {
	content: "\EC05";
}

.mi-MobLocation:before {
	content: "\EC06";
}

.mi-MobQuietHours:before {
	content: "\EC07";
}

.mi-MobSignal1:before {
	content: "\EC08";
}

.mi-MobSignal2:before {
	content: "\EC09";
}

.mi-MobSignal3:before {
	content: "\EC0A";
}

.mi-MobSignal4:before {
	content: "\EC0B";
}

.mi-MobSignal5:before {
	content: "\EC0C";
}

.mi-MobWifi1:before {
	content: "\EC0D";
}

.mi-MobWifi2:before {
	content: "\EC0E";
}

.mi-MobWifi3:before {
	content: "\EC0F";
}

.mi-MobWifi4:before {
	content: "\EC10";
}

.mi-MobWifiHotspot:before {
	content: "\EC11";
}

.mi-MobileLocked:before {
	content: "\EC12";
}

.mi-MobileSelected:before {
	content: "\EC13";
}

.mi-MobileTablet:before {
	content: "\EC14";
}

.mi-More:before, .mi-MoreLegacy:before {
	content: "\EC15";
}

.mi-Mouse:before {
	content: "\EC16";
}

.mi-MoveToFolder:before, .mi-MoveToFolderLegacy:before {
	content: "\EC17";
}

.mi-Movies:before {
	content: "\EC18";
}

.mi-MultiSelect:before, .mi-MultiSelectLegacy:before {
	content: "\EC19";
}

.mi-MultiSelectLegacyMirrored:before, .mi-MultiSelectMirrored:before {
	content: "\EC1A";
}

.mi-MultimediaDMP:before {
	content: "\EC1B";
}

.mi-MultimediaDMS:before {
	content: "\EC1C";
}

.mi-MultimediaDVR:before {
	content: "\EC1D";
}

.mi-MultimediaPMP:before {
	content: "\EC1E";
}

.mi-Multitask:before {
	content: "\EC1F";
}

.mi-Multitask16:before {
	content: "\EC20";
}

.mi-MultitaskExpanded:before {
	content: "\EC21";
}

.mi-MusicAlbum:before {
	content: "\EC22";
}

.mi-MusicInfo:before, .mi-MusicInfoLegacy:before {
	content: "\EC23";
}

.mi-MusicNote:before {
	content: "\EC24";
}

.mi-Mute:before, .mi-MuteLegacy:before {
	content: "\EC25";
}

.mi-MyNetwork:before {
	content: "\EC26";
}

.mi-NUIFPContinueSlideAction:before {
	content: "\EC27";
}

.mi-NUIFPContinueSlideHand:before {
	content: "\EC28";
}

.mi-NUIFPPressAction:before {
	content: "\EC29";
}

.mi-NUIFPPressHand:before {
	content: "\EC2A";
}

.mi-NUIFPPressRepeatAction:before {
	content: "\EC2B";
}

.mi-NUIFPRollLeftAction:before {
	content: "\EC2C";
}

.mi-NUIFPRollLeftHand:before {
	content: "\EC2D";
}

.mi-NUIFPRollRightHand:before {
	content: "\EC2E";
}

.mi-NUIFPRollRightHandAction:before {
	content: "\EC2F";
}

.mi-NUIFPStartSlideAction:before {
	content: "\EC30";
}

.mi-NUIFPPressRepeatHand:before, .mi-NUIFPStartSlideHand:before {
	content: "\EC31";
}

.mi-NUIFace:before {
	content: "\EC32";
}

.mi-NUIIris:before {
	content: "\EC33";
}

.mi-Narrator:before {
	content: "\EC34";
}

.mi-NarratorForward:before {
	content: "\EC35";
}

.mi-NarratorForwardMirrored:before {
	content: "\EC36";
}

.mi-Network:before {
	content: "\EC37";
}

.mi-NetworkAdapter:before {
	content: "\EC38";
}

.mi-NetworkPrinter:before {
	content: "\EC39";
}

.mi-NetworkTower:before {
	content: "\EC3A";
}

.mi-NewFolder:before, .mi-NewFolderLegacy:before {
	content: "\EC3B";
}

.mi-NewWindow:before, .mi-NewWindowLegacy:before {
	content: "\EC3C";
}

.mi-Next:before, .mi-NextLegacy:before {
	content: "\EC3D";
}

.mi-OEM:before {
	content: "\EC3E";
}

.mi-OneBar:before, .mi-OneBarLegacy:before {
	content: "\EC3F";
}

.mi-OpenFile:before, .mi-OpenFileLegacy:before {
	content: "\EC40";
}

.mi-OpenInNewWindow:before, .mi-OpenInNewWindowLegacy:before {
	content: "\EC41";
}

.mi-OpenLocal:before, .mi-OpenLocalLegacy:before {
	content: "\EC42";
}

.mi-OpenPane:before, .mi-OpenPaneLegacy:before {
	content: "\EC43";
}

.mi-OpenPaneLegacyMirrored:before, .mi-OpenPaneMirrored:before {
	content: "\EC44";
}

.mi-OpenWith:before, .mi-OpenWithLegacy:before {
	content: "\EC45";
}

.mi-OpenWithLegacyMirrored:before, .mi-OpenWithMirrored:before {
	content: "\EC46";
}

.mi-Orientation:before, .mi-OrientationLegacy:before {
	content: "\EC47";
}

.mi-OtherUser:before, .mi-OtherUserLegacy:before {
	content: "\EC48";
}

.mi-PC1:before, .mi-PC1Legacy:before {
	content: "\EC49";
}

.mi-PLAP:before {
	content: "\EC4A";
}

.mi-Package:before {
	content: "\EC4B";
}

.mi-Page:before, .mi-PageLegacy:before {
	content: "\EC4C";
}

.mi-PageLeft:before {
	content: "\EC4D";
}

.mi-PageRight:before {
	content: "\EC4E";
}

.mi-PageFillLegacy:before, .mi-PageSolid:before {
	content: "\EC4F";
}

.mi-PanMode:before {
	content: "\EC50";
}

.mi-ParkingLocation:before {
	content: "\EC51";
}

.mi-ParkingLocationMirrored:before {
	content: "\EC52";
}

.mi-ParkingLocationSolid:before {
	content: "\EC53";
}

.mi-PartyLeader:before {
	content: "\EC54";
}

.mi-PasswordKeyHide:before {
	content: "\EC55";
}

.mi-PasswordKeyShow:before {
	content: "\EC56";
}

.mi-Paste:before, .mi-PasteLegacy:before {
	content: "\EC57";
}

.mi-Pause:before, .mi-PauseLegacy:before {
	content: "\EC58";
}

.mi-PauseBadge12:before {
	content: "\EC59";
}

.mi-PenPalette:before {
	content: "\EC5A";
}

.mi-PenPaletteMirrored:before {
	content: "\EC5B";
}

.mi-PenWorkspace:before {
	content: "\EC5C";
}

.mi-PenWorkspaceMirrored:before {
	content: "\EC5D";
}

.mi-Pencil:before {
	content: "\EC5E";
}

.mi-People:before, .mi-PeopleLegacy:before {
	content: "\EC5F";
}

.mi-PeriodKey:before {
	content: "\EC60";
}

.mi-Permissions:before, .mi-PermissionsLegacy:before {
	content: "\EC61";
}

.mi-PersonalFolder:before {
	content: "\EC62";
}

.mi-Personalize:before {
	content: "\EC63";
}

.mi-Phone:before, .mi-PhoneLegacy:before {
	content: "\EC64";
}

.mi-PhoneBook:before, .mi-PhoneBookLegacy:before {
	content: "\EC65";
}

.mi-Photo:before {
	content: "\EC66";
}

.mi-Photo2:before {
	content: "\EC67";
}

.mi-Picture:before, .mi-PictureLegacy:before {
	content: "\EC68";
}

.mi-PieSingle:before {
	content: "\EC69";
}

.mi-Pin:before, .mi-PinLegacy:before {
	content: "\EC6A";
}

.mi-PinFill:before {
	content: "\EC6B";
}

.mi-Pinned:before {
	content: "\EC6C";
}

.mi-PinnedFill:before {
	content: "\EC6D";
}

.mi-PlaceFolderLegacy:before {
	content: "\EC6E";
}

.mi-Play:before, .mi-PlayLegacy:before {
	content: "\EC6F";
}

.mi-Play36:before {
	content: "\EC70";
}

.mi-PlayBadge12:before {
	content: "\EC71";
}

.mi-PlayOnLegacy:before {
	content: "\EC72";
}

.mi-PlaybackRate1x:before {
	content: "\EC73";
}

.mi-PlaybackRateOther:before {
	content: "\EC74";
}

.mi-PointErase:before {
	content: "\EC75";
}

.mi-PointEraseMirrored:before {
	content: "\EC76";
}

.mi-PoliceCar:before {
	content: "\EC77";
}

.mi-PostUpdate:before, .mi-PostUpdateLegacy:before {
	content: "\EC78";
}

.mi-PowerButton:before {
	content: "\EC79";
}

.mi-PresenceChickletVideo:before, .mi-PresenceChickletVideoLegacy:before {
	content: "\EC7A";
}

.mi-Preview:before, .mi-PreviewLegacy:before {
	content: "\EC7B";
}

.mi-PreviewLink:before, .mi-PreviewLinkLegacy:before {
	content: "\EC7C";
}

.mi-Previous:before, .mi-PreviousLegacy:before {
	content: "\EC7D";
}

.mi-Print:before, .mi-PrintLegacy:before {
	content: "\EC7E";
}

.mi-Printer3D:before {
	content: "\EC7F";
}

.mi-Printer3DLegacy:before {
	content: "\EC80";
}

.mi-PrintfaxPrinterFile:before {
	content: "\EC81";
}

.mi-Priority:before, .mi-PriorityLegacy:before {
	content: "\EC82";
}

.mi-Process:before {
	content: "\EC83";
}

.mi-Project:before {
	content: "\EC84";
}

.mi-Projector:before {
	content: "\EC85";
}

.mi-ProtectedDocument:before, .mi-ProtectedDocumentLegacy:before {
	content: "\EC86";
}

.mi-ProvisioningPackage:before {
	content: "\EC87";
}

.mi-PuncKey:before {
	content: "\EC88";
}

.mi-PuncKey0:before {
	content: "\EC89";
}

.mi-PuncKey1:before {
	content: "\EC8A";
}

.mi-PuncKey2:before {
	content: "\EC8B";
}

.mi-PuncKey3:before {
	content: "\EC8C";
}

.mi-PuncKey4:before {
	content: "\EC8D";
}

.mi-PuncKey5:before {
	content: "\EC8E";
}

.mi-PuncKey6:before {
	content: "\EC8F";
}

.mi-PuncKey7:before {
	content: "\EC90";
}

.mi-PuncKey8:before {
	content: "\EC91";
}

.mi-PuncKey9:before {
	content: "\EC92";
}

.mi-PuncKeyLeftBottom:before {
	content: "\EC93";
}

.mi-PuncKeyRightBottom:before {
	content: "\EC94";
}

.mi-Puzzle:before {
	content: "\EC95";
}

.mi-QWERTYOff:before {
	content: "\EC96";
}

.mi-QWERTYOn:before {
	content: "\EC97";
}

.mi-QuickNote:before {
	content: "\EC98";
}

.mi-QuietHours:before {
	content: "\EC99";
}

.mi-RadioBtnOff:before {
	content: "\EC9A";
}

.mi-RadioBtnOn:before {
	content: "\EC9B";
}

.mi-RadioBullet:before {
	content: "\EC9C";
}

.mi-RadioBullet2:before {
	content: "\EC9D";
}

.mi-Read:before, .mi-ReadLegacy:before {
	content: "\EC9E";
}

.mi-ReadingList:before {
	content: "\EC9F";
}

.mi-ReceiptPrinter:before {
	content: "\ECA0";
}

.mi-LengthLegacy:before, .mi-Recent:before {
	content: "\ECA1";
}

.mi-Record:before, .mi-RecordLegacy:before {
	content: "\ECA2";
}

.mi-Redo:before, .mi-RedoLegacy:before {
	content: "\ECA3";
}

.mi-ReduceTileLegacy:before {
	content: "\ECA4";
}

.mi-ReduceTileLegacyMirrored:before {
	content: "\ECA5";
}

.mi-Refresh:before, .mi-RefreshLegacy:before, .mi-RepeatAll:before, .mi-RepeatAllLegacy:before {
	content: "\ECA6";
}

.mi-RememberedDevice:before {
	content: "\ECA7";
}

.mi-Reminder:before {
	content: "\ECA8";
}

.mi-ReminderFill:before {
	content: "\ECA9";
}

.mi-Remote:before, .mi-RemoteLegacy:before {
	content: "\ECAA";
}

.mi-Remove:before, .mi-RemoveLegacy:before {
	content: "\ECAB";
}

.mi-RemoveFrom:before {
	content: "\ECAC";
}

.mi-Rename:before, .mi-RenameLegacy:before {
	content: "\ECAD";
}

.mi-Repair:before, .mi-RepairLegacy:before {
	content: "\ECAE";
}

.mi-RepeatOne:before, .mi-RepeatOneLegacy:before {
	content: "\ECAF";
}

.mi-Reply:before, .mi-ReplyLegacy:before {
	content: "\ECB0";
}

.mi-ReplyMirrored:before {
	content: "\ECB1";
}

.mi-ReportHacked:before, .mi-ReportHackedLegacy:before {
	content: "\ECB2";
}

.mi-ResetDevice:before {
	content: "\ECB3";
}

.mi-ResetDrive:before {
	content: "\ECB4";
}

.mi-Reshare:before, .mi-ReshareLegacy:before {
	content: "\ECB5";
}

.mi-ResizeMouseMedium:before {
	content: "\ECB6";
}

.mi-ResizeMouseMediumMirrored:before {
	content: "\ECB7";
}

.mi-ResizeMouseSmall:before {
	content: "\ECB8";
}

.mi-ResizeMouseSmallMirrored:before {
	content: "\ECB9";
}

.mi-ResizeMouseTall:before {
	content: "\ECBA";
}

.mi-ResizeMouseTallMirrored:before {
	content: "\ECBB";
}

.mi-ResizeMouseWide:before {
	content: "\ECBC";
}

.mi-ResizeTouchLarger:before {
	content: "\ECBD";
}

.mi-ResizeTouchNarrower:before {
	content: "\ECBE";
}

.mi-ResizeTouchNarrowerMirrored:before {
	content: "\ECBF";
}

.mi-ResizeTouchShorter:before {
	content: "\ECC0";
}

.mi-ResizeTouchSmaller:before {
	content: "\ECC1";
}

.mi-ResolutionLegacy:before {
	content: "\ECC2";
}

.mi-ReturnKey:before {
	content: "\ECC3";
}

.mi-ReturnKeyLg:before {
	content: "\ECC4";
}

.mi-ReturnKeySm:before {
	content: "\ECC5";
}

.mi-ReturnToWindow:before, .mi-ReturnToWindowLegacy:before {
	content: "\ECC6";
}

.mi-RevToggleKey:before {
	content: "\ECC7";
}

.mi-Rewind:before {
	content: "\ECC8";
}

.mi-RightArrowKeyTime0:before {
	content: "\ECC9";
}

.mi-RightArrowKeyTime1:before {
	content: "\ECCA";
}

.mi-RightArrowKeyTime2:before {
	content: "\ECCB";
}

.mi-RightArrowKeyTime3:before {
	content: "\ECCC";
}

.mi-RightArrowKeyTime4:before {
	content: "\ECCD";
}

.mi-RightDoubleQuote:before {
	content: "\ECCE";
}

.mi-RightQuote:before {
	content: "\ECCF";
}

.mi-Ringer:before {
	content: "\ECD0";
}

.mi-RingerBadge12:before {
	content: "\ECD1";
}

.mi-RingerSilent:before {
	content: "\ECD2";
}

.mi-RoamingDomestic:before {
	content: "\ECD3";
}

.mi-RoamingInternational:before {
	content: "\ECD4";
}

.mi-Robot:before {
	content: "\ECD5";
}

.mi-Rotate:before {
	content: "\ECD6";
}

.mi-RotateCamera:before, .mi-RotateCameraLegacy:before {
	content: "\ECD7";
}

.mi-RotateLegacy:before {
	content: "\ECD8";
}

.mi-RotateMapLeft:before {
	content: "\ECD9";
}

.mi-RotateMapRight:before {
	content: "\ECDA";
}

.mi-RotationLock:before {
	content: "\ECDB";
}

.mi-Ruler:before {
	content: "\ECDC";
}

.mi-SDCard:before {
	content: "\ECDD";
}

.mi-SIMLock:before {
	content: "\ECDE";
}

.mi-SIMMissing:before {
	content: "\ECDF";
}

.mi-SIPMove:before {
	content: "\ECE0";
}

.mi-SIPRedock:before {
	content: "\ECE1";
}

.mi-SIPUndock:before {
	content: "\ECE2";
}

.mi-Save:before, .mi-SaveLegacy:before {
	content: "\ECE3";
}

.mi-SaveAs:before, .mi-SaveAsLegacy:before {
	content: "\ECE4";
}

.mi-SaveCopy:before {
	content: "\ECE5";
}

.mi-SaveLocal:before, .mi-SaveLocalLegacy:before {
	content: "\ECE6";
}

.mi-Scan:before, .mi-ScanLegacy:before {
	content: "\ECE7";
}

.mi-ScrollMode:before {
	content: "\ECE8";
}

.mi-ScrollUpDown:before {
	content: "\ECE9";
}

.mi-FindLegacy:before, .mi-Search:before, .mi-SearchboxLegacy:before {
	content: "\ECEA";
}

.mi-SearchAndApps:before {
	content: "\ECEB";
}

.mi-SelectAll:before, .mi-SelectAllLegacy:before {
	content: "\ECEC";
}

.mi-SemanticZoomLegacy:before {
	content: "\ECED";
}

.mi-Send:before, .mi-SendLegacy:before {
	content: "\ECEE";
}

.mi-SendFill:before {
	content: "\ECEF";
}

.mi-SendFillMirrored:before {
	content: "\ECF0";
}

.mi-SendMirrored:before {
	content: "\ECF1";
}

.mi-Sensor:before {
	content: "\ECF2";
}

.mi-SetTile:before, .mi-SetTileLegacy:before {
	content: "\ECF3";
}

.mi-SetlockScreen:before, .mi-SetlockScreenLegacy:before {
	content: "\ECF4";
}

.mi-Settings:before, .mi-SettingsLegacy:before {
	content: "\ECF5";
}

.mi-SettingsBattery:before {
	content: "\ECF6";
}

.mi-SettingsDisplaySound:before {
	content: "\ECF7";
}

.mi-Share:before {
	content: "\ECF8";
}

.mi-ShareBroadband:before {
	content: "\ECF9";
}

.mi-Shop:before, .mi-ShopLegacy:before {
	content: "\ECFA";
}

.mi-ShoppingCart:before {
	content: "\ECFB";
}

.mi-ShowAllFiles1Legacy:before {
	content: "\ECFC";
}

.mi-ShowAllFiles3Legacy:before {
	content: "\ECFD";
}

.mi-ShowBcc:before, .mi-ShowBccLegacy:before {
	content: "\ECFE";
}

.mi-ShowResults:before, .mi-ShowResultsLegacy:before {
	content: "\ECFF";
}

.mi-ShowResultsLegacyMirrored:before, .mi-ShowResultsMirrored:before {
	content: "\ED00";
}

.mi-Shuffle:before, .mi-ShuffleLegacy:before {
	content: "\ED01";
}

.mi-SignalBars1:before {
	content: "\ED02";
}

.mi-SignalBars2:before {
	content: "\ED03";
}

.mi-SignalBars3:before {
	content: "\ED04";
}

.mi-SignalBars4:before {
	content: "\ED05";
}

.mi-SignalBars5:before {
	content: "\ED06";
}

.mi-SignalError:before {
	content: "\ED07";
}

.mi-SignalNotConnected:before {
	content: "\ED08";
}

.mi-SignalRoaming:before {
	content: "\ED09";
}

.mi-SizeLegacy:before {
	content: "\ED0A";
}

.mi-SkipBack10:before {
	content: "\ED0B";
}

.mi-SkipForward30:before {
	content: "\ED0C";
}

.mi-SliderThumb:before {
	content: "\ED0D";
}

.mi-Slideshow:before, .mi-SlideshowLegacy:before {
	content: "\ED0E";
}

.mi-Smartcard:before {
	content: "\ED0F";
}

.mi-SmartcardVirtual:before {
	content: "\ED10";
}

.mi-Sort:before, .mi-SortLegacy:before {
	content: "\ED11";
}

.mi-Speakers:before {
	content: "\ED12";
}

.mi-SpeedHigh:before {
	content: "\ED13";
}

.mi-SpeedMedium:before {
	content: "\ED14";
}

.mi-SpeedOff:before {
	content: "\ED15";
}

.mi-StartPoint:before {
	content: "\ED16";
}

.mi-StartPointSolid:before {
	content: "\ED17";
}

.mi-StatusCircle:before {
	content: "\ED18";
}

.mi-StatusCircleLeft:before {
	content: "\ED19";
}

.mi-StatusConnecting1:before {
	content: "\ED1A";
}

.mi-StatusConnecting2:before {
	content: "\ED1B";
}

.mi-StatusDataTransfer:before {
	content: "\ED1C";
}

.mi-StatusDataTransferVPN:before {
	content: "\ED1D";
}

.mi-StatusDualSIM1:before {
	content: "\ED1E";
}

.mi-StatusDualSIM1VPN:before {
	content: "\ED1F";
}

.mi-StatusDualSIM2:before {
	content: "\ED20";
}

.mi-StatusDualSIM2VPN:before {
	content: "\ED21";
}

.mi-StatusError:before {
	content: "\ED22";
}

.mi-StatusErrorFull:before {
	content: "\ED23";
}

.mi-StatusErrorLeft:before {
	content: "\ED24";
}

.mi-StatusSGLTE:before {
	content: "\ED25";
}

.mi-StatusSGLTECell:before {
	content: "\ED26";
}

.mi-StatusSGLTEDataVPN:before {
	content: "\ED27";
}

.mi-StatusTriangle:before {
	content: "\ED28";
}

.mi-StatusTriangleLeft:before {
	content: "\ED29";
}

.mi-StatusUnsecure:before {
	content: "\ED2A";
}

.mi-StatusVPN:before {
	content: "\ED2B";
}

.mi-StatusWarning:before {
	content: "\ED2C";
}

.mi-StatusWarningLeft:before {
	content: "\ED2D";
}

.mi-StockDown:before {
	content: "\ED2E";
}

.mi-StockUp:before {
	content: "\ED2F";
}

.mi-Stop:before, .mi-StopLegacy:before {
	content: "\ED30";
}

.mi-StopPoint:before {
	content: "\ED31";
}

.mi-StopPointSolid:before {
	content: "\ED32";
}

.mi-StopSlideshowLegacy:before {
	content: "\ED33";
}

.mi-Stopwatch:before {
	content: "\ED34";
}

.mi-StorageNetworkWireless:before {
	content: "\ED35";
}

.mi-StorageOptical:before {
	content: "\ED36";
}

.mi-StorageTape:before {
	content: "\ED37";
}

.mi-Streaming:before {
	content: "\ED38";
}

.mi-StreamingEnterprise:before {
	content: "\ED39";
}

.mi-Street:before, .mi-StreetLegacy:before {
	content: "\ED3A";
}

.mi-StreetsideSplitExpand:before {
	content: "\ED3B";
}

.mi-StreetsideSplitMinimize:before {
	content: "\ED3C";
}

.mi-StrokeErase:before {
	content: "\ED3D";
}

.mi-StrokeEraseMirrored:before {
	content: "\ED3E";
}

.mi-Subtitles:before {
	content: "\ED3F";
}

.mi-SubtitlesAudio:before {
	content: "\ED40";
}

.mi-SurfaceHub:before {
	content: "\ED41";
}

.mi-Sustainable:before {
	content: "\ED42";
}

.mi-Swipe:before {
	content: "\ED43";
}

.mi-SwipeRevealArt:before {
	content: "\ED44";
}

.mi-Switch:before, .mi-SwitchLegacy:before {
	content: "\ED45";
}

.mi-SwitchApps:before, .mi-SwitchAppsLegacy:before {
	content: "\ED46";
}

.mi-SwitchUser:before {
	content: "\ED47";
}

.mi-Sync:before, .mi-SyncLegacy:before {
	content: "\ED48";
}

.mi-SyncBadge12:before {
	content: "\ED49";
}

.mi-SyncError:before {
	content: "\ED4A";
}

.mi-SyncFolder:before, .mi-SyncFolderLegacy:before {
	content: "\ED4B";
}

.mi-System:before {
	content: "\ED4C";
}

.mi-TVMonitor:before {
	content: "\ED4D";
}

.mi-TVMonitorSelected:before {
	content: "\ED4E";
}

.mi-Tablet:before {
	content: "\ED4F";
}

.mi-TabletMode:before {
	content: "\ED50";
}

.mi-TabletSelected:before {
	content: "\ED51";
}

.mi-Tag:before, .mi-TagLegacy:before {
	content: "\ED52";
}

.mi-TapAndSend:before {
	content: "\ED53";
}

.mi-TaskbarPhone:before {
	content: "\ED54";
}

.mi-ThisPC:before {
	content: "\ED55";
}

.mi-ThoughtBubble:before {
	content: "\ED56";
}

.mi-ThreeBars:before, .mi-ThreeBarsLegacy:before {
	content: "\ED57";
}

.mi-Tiles:before {
	content: "\ED58";
}

.mi-TiltDown:before {
	content: "\ED59";
}

.mi-TiltUp:before {
	content: "\ED5A";
}

.mi-TimeLanguage:before {
	content: "\ED5B";
}

.mi-ToggleBorder:before {
	content: "\ED5C";
}

.mi-ToggleFilled:before {
	content: "\ED5D";
}

.mi-ToggleThumb:before {
	content: "\ED5E";
}

.mi-Touch:before {
	content: "\ED5F";
}

.mi-TouchPointer:before, .mi-TouchPointerLegacy:before {
	content: "\ED60";
}

.mi-Touchscreen:before {
	content: "\ED61";
}

.mi-Trackers:before {
	content: "\ED62";
}

.mi-TrackersMirrored:before {
	content: "\ED63";
}

.mi-Train:before {
	content: "\ED64";
}

.mi-TrainSolid:before {
	content: "\ED65";
}

.mi-TreeFolderFolder:before {
	content: "\ED66";
}

.mi-TreeFolderFolderFill:before {
	content: "\ED67";
}

.mi-TreeFolderFolderOpen:before {
	content: "\ED68";
}

.mi-TreeFolderFolderOpenFill:before {
	content: "\ED69";
}

.mi-Trim:before, .mi-TrimLegacy:before {
	content: "\ED6A";
}

.mi-TwoBars:before, .mi-TwoBarsLegacy:before {
	content: "\ED6B";
}

.mi-TwoPage:before, .mi-TwoPageLegacy:before {
	content: "\ED6C";
}

.mi-Type:before, .mi-TypeLegacy:before {
	content: "\ED6D";
}

.mi-TypingIndicatorLegacy:before {
	content: "\ED6E";
}

.mi-USB:before {
	content: "\ED6F";
}

.mi-USBSafeConnect:before {
	content: "\ED70";
}

.mi-Underline:before, .mi-UnderlineLegacy:before {
	content: "\ED71";
}

.mi-UnderlineLKoreanLegacy:before {
	content: "\ED72";
}

.mi-UnderlineRussianLegacy:before {
	content: "\ED73";
}

.mi-UnderlineSLegacy:before {
	content: "\ED74";
}

.mi-UnderlineULegacy:before {
	content: "\ED75";
}

.mi-UnderscoreSpace:before {
	content: "\ED76";
}

.mi-Undo:before, .mi-UndoLegacy:before {
	content: "\ED77";
}

.mi-Unfavorite:before, .mi-UnfavoriteLegacy:before {
	content: "\ED78";
}

.mi-Unit:before {
	content: "\ED79";
}

.mi-Unlock:before, .mi-UnlockLegacy:before {
	content: "\ED7A";
}

.mi-Unpin:before, .mi-UnpinLegacy:before {
	content: "\ED7B";
}

.mi-UnsyncFolder:before, .mi-UnsyncFolderLegacy:before {
	content: "\ED7C";
}

.mi-Up:before, .mi-UpLegacy:before {
	content: "\ED7D";
}

.mi-UpArrowShiftKey:before {
	content: "\ED7E";
}

.mi-UpShiftKey:before {
	content: "\ED7F";
}

.mi-UpdateRestore:before {
	content: "\ED80";
}

.mi-Upload:before, .mi-UploadLegacy:before, .mi-UploadSkyDriveLegacy:before {
	content: "\ED81";
}

.mi-VPN:before {
	content: "\ED82";
}

.mi-Vibrate:before {
	content: "\ED83";
}

.mi-Video:before, .mi-VideoInlineLegacy:before, .mi-VideoLegacy:before {
	content: "\ED84";
}

.mi-VideoChat:before, .mi-VideoChatLegacy:before {
	content: "\ED85";
}

.mi-RevealPasswordLegacy:before, .mi-View:before, .mi-ViewLegacy:before {
	content: "\ED86";
}

.mi-ShowAllFilesLegacy:before, .mi-ViewAll:before, .mi-ViewAllLegacy:before {
	content: "\ED87";
}

.mi-Volume:before, .mi-VolumeLegacy:before {
	content: "\ED88";
}

.mi-Volume0:before {
	content: "\ED89";
}

.mi-Volume1:before {
	content: "\ED8A";
}

.mi-Volume2:before {
	content: "\ED8B";
}

.mi-Volume3:before {
	content: "\ED8C";
}

.mi-VolumeBars:before {
	content: "\ED8D";
}

.mi-Walk:before {
	content: "\ED8E";
}

.mi-WalkSolid:before {
	content: "\ED8F";
}

.mi-Warning:before {
	content: "\ED90";
}

.mi-Webcam:before, .mi-WebcamLegacy:before {
	content: "\ED91";
}

.mi-Webcam2:before {
	content: "\ED92";
}

.mi-Wheel:before {
	content: "\ED93";
}

.mi-Wifi:before {
	content: "\ED94";
}

.mi-Wifi1:before {
	content: "\ED95";
}

.mi-Wifi2:before {
	content: "\ED96";
}

.mi-Wifi3:before {
	content: "\ED97";
}

.mi-WifiAttentionOverlay:before {
	content: "\ED98";
}

.mi-WifiCall0:before {
	content: "\ED99";
}

.mi-WifiCall1:before {
	content: "\ED9A";
}

.mi-WifiCall2:before {
	content: "\ED9B";
}

.mi-WifiCall3:before {
	content: "\ED9C";
}

.mi-WifiCall4:before {
	content: "\ED9D";
}

.mi-WifiCallBars:before {
	content: "\ED9E";
}

.mi-WifiError0:before {
	content: "\ED9F";
}

.mi-WifiError1:before {
	content: "\EDA0";
}

.mi-WifiError2:before {
	content: "\EDA1";
}

.mi-WifiError3:before {
	content: "\EDA2";
}

.mi-WifiError4:before {
	content: "\EDA3";
}

.mi-WifiEthernet:before {
	content: "\EDA4";
}

.mi-InternetSharing:before, .mi-WifiHotspot:before {
	content: "\EDA5";
}

.mi-WifiWarning0:before {
	content: "\EDA6";
}

.mi-WifiWarning1:before {
	content: "\EDA7";
}

.mi-WifiWarning2:before {
	content: "\EDA8";
}

.mi-WifiWarning3:before {
	content: "\EDA9";
}

.mi-WifiWarning4:before {
	content: "\EDAA";
}

.mi-WindDirection:before {
	content: "\EDAB";
}

.mi-WiredUSB:before {
	content: "\EDAC";
}

.mi-WirelessUSB:before {
	content: "\EDAD";
}

.mi-Work:before {
	content: "\EDAE";
}

.mi-WorkSolid:before {
	content: "\EDAF";
}

.mi-World:before, .mi-WorldLegacy:before {
	content: "\EDB0";
}

.mi-XboxOneConsole:before {
	content: "\EDB1";
}

.mi-ZeroBars:before, .mi-ZeroBarsLegacy:before {
	content: "\EDB2";
}

.mi-Zoom:before, .mi-ZoomLegacy:before {
	content: "\EDB3";
}

.mi-ZoomIn:before, .mi-ZoomInLegacy:before {
	content: "\EDB4";
}

.mi-ZoomMode:before {
	content: "\EDB5";
}

.mi-ZoomOut:before, .mi-ZoomOutLegacy:before {
	content: "\EDB6";
}

.mi-eSIM:before {
	content: "\EDB7";
}

.mi-eSIMBusy:before {
	content: "\EDB8";
}

.mi-eSIMLocked:before {
	content: "\EDB9";
}

.mi-eSIMNoProfile:before {
	content: "\EDBA";
}

