@font-face{font-family:"Fira Sans";src:url(FiraSansLight.woff2) format("woff2"),url(FiraSansLight.woff) format("woff"),url(FiraSansLight.ttf) format("truetype");font-weight:300;font-style:normal;font-display: swap;}

@font-face{font-family:"Fira Sans";src:url(FiraSansRegular.woff2) format("woff2"),url(FiraSansRegular.woff) format("woff"),url(FiraSansRegular.ttf) format("truetype");font-weight:400;font-style:normal;font-display: swap;}

@font-face{font-family:"Fira Sans";src:url(FiraSansItalic.woff2) format("woff2"),url(FiraSansItalic.woff) format("woff"),url(FiraSansItalic.ttf) format("truetype");font-weight:400;font-style:italic;font-display: swap;}

@font-face{font-family:"Fira Sans";src:url(FiraSansBold.woff2) format("woff2"),url(FiraSansBold.woff) format("woff"),url(FiraSansBold.ttf) format("truetype");font-weight:700;font-style:normal;font-display: swap;}

@font-face{font-family:"Fira Sans";src:url(FiraSansBoldItalic.woff2) format("woff2"),url(FiraSansBoldItalic.woff) format("woff"),url(FiraSansBoldItalic.ttf) format("truetype");font-weight:700;font-style:italic;font-display: swap;}

