@font-face{font-family:"Open Sans";src:url(OpenSans-Light.woff2) format("woff2"),url(OpenSans-Light.woff) format("woff"),url(OpenSans-Light.ttf) format("truetype");font-weight:300;font-style:normal;font-display: swap;}

@font-face{font-family:"Open Sans";src:url(OpenSans-Regular.woff2) format("woff2"),url(OpenSans-Regular.woff) format("woff"),url(OpenSans-Regular.ttf) format("truetype");font-weight:400;font-style:normal;font-display: swap;}

@font-face{font-family:"Open Sans";src:url(OpenSans-Italic.woff2) format("woff2"),url(OpenSans-Italic.woff) format("woff"),url(OpenSans-Italic.ttf) format("truetype");font-weight:400;font-style:italic;font-display: swap;}

@font-face{font-family:"Open Sans";src:url(OpenSans-Bold.woff2) format("woff2"),url(OpenSans-Bold.woff) format("woff"),url(OpenSans-Bold.ttf) format("truetype");font-weight:700;font-style:normal;font-display: swap;}

@font-face{font-family:"Open Sans";src:url(OpenSans-BoldItalic.woff2) format("woff2"),url(OpenSans-BoldItalic.woff) format("woff"),url(OpenSans-BoldItalic.ttf) format("truetype");font-weight:700;font-style:italic;font-display: swap;}

