@font-face{font-family:"Ubuntu Mono";src:url(UbuntuMono-Regular.woff2) format("woff2"),url(UbuntuMono-Regular.woff) format("woff"),url(UbuntuMono-Regular.ttf) format("truetype");font-weight:400;font-style:normal;font-display: swap;}

@font-face{font-family:"Ubuntu Mono";src:url(UbuntuMono-Italic.woff2) format("woff2"),url(UbuntuMono-Italic.woff) format("woff"),url(UbuntuMono-Italic.ttf) format("truetype");font-weight:400;font-style:italic;font-display: swap;}

@font-face{font-family:"Ubuntu Mono";src:url(UbuntuMono-Bold.woff2) format("woff2"),url(UbuntuMono-Bold.woff) format("woff"),url(UbuntuMono-Bold.ttf) format("truetype");font-weight:700;font-style:normal;font-display: swap;}

@font-face{font-family:"Ubuntu Mono";src:url(UbuntuMono-BoldItalic.woff2) format("woff2"),url(UbuntuMono-BoldItalic.woff) format("woff"),url(UbuntuMono-BoldItalic.ttf) format("truetype");font-weight:700;font-style:italic;font-display: swap;}

