@font-face{font-family:"smart-devices";src:url(smart-devices.woff) format("woff"),url(smart-devices.ttf) format("truetype");font-weight:normal;font-style:normal;font-display: swap;}

[class^="smart-devices-"]:before,[class*=" smart-devices-"]:before,[class^="smart-devices-"]:after,[class*=" smart-devices-"]:after{font-family:smart-devices;font-size:20px;font-style:normal;margin-left:20px;}

.smart-devices-computer175:before{content:"\e000";}

.smart-devices-computer176:before{content:"\e001";}

.smart-devices-computer177:before{content:"\e002";}

.smart-devices-console11:before{content:"\e003";}

.smart-devices-console12:before{content:"\e004";}

.smart-devices-console13:before{content:"\e005";}

.smart-devices-console14:before{content:"\e006";}

.smart-devices-controller2:before{content:"\e007";}

.smart-devices-game59:before{content:"\e008";}

.smart-devices-gamepad8:before{content:"\e009";}

.smart-devices-htc1:before{content:"\e00a";}

.smart-devices-htc:before{content:"\e00b";}

.smart-devices-ipad30:before{content:"\e00c";}

.smart-devices-ipad31:before{content:"\e00d";}

.smart-devices-ipad32:before{content:"\e00e";}

.smart-devices-ipad33:before{content:"\e00f";}

.smart-devices-ipad34:before{content:"\e010";}

.smart-devices-iphone14:before{content:"\e011";}

.smart-devices-iphone15:before{content:"\e012";}

.smart-devices-iphone16:before{content:"\e013";}

.smart-devices-iphone17:before{content:"\e014";}

.smart-devices-iphone18:before{content:"\e015";}

.smart-devices-iphone19:before{content:"\e016";}

.smart-devices-iphone20:before{content:"\e017";}

.smart-devices-iphone21:before{content:"\e018";}

.smart-devices-iphone22:before{content:"\e019";}

.smart-devices-iphone23:before{content:"\e01a";}

.smart-devices-iphone24:before{content:"\e01b";}

.smart-devices-iphone25:before{content:"\e01c";}

.smart-devices-ipod16:before{content:"\e01d";}

.smart-devices-ipod17:before{content:"\e01e";}

.smart-devices-laptop124:before{content:"\e01f";}

.smart-devices-laptop125:before{content:"\e020";}

.smart-devices-laptop126:before{content:"\e021";}

.smart-devices-laptop127:before{content:"\e022";}

.smart-devices-mm3:before{content:"\e023";}

.smart-devices-mobile phone10:before{content:"\e024";}

.smart-devices-mobile phone11:before{content:"\e025";}

.smart-devices-mobile phone12:before{content:"\e026";}

.smart-devices-mobile phone13:before{content:"\e027";}

.smart-devices-mobile phone14:before{content:"\e028";}

.smart-devices-mobile phone2:before{content:"\e029";}

.smart-devices-mobile phone3:before{content:"\e02a";}

.smart-devices-mobile phone4:before{content:"\e02b";}

.smart-devices-mobile phone5:before{content:"\e02c";}

.smart-devices-mobile phone6:before{content:"\e02d";}

.smart-devices-mobile phone7:before{content:"\e02e";}

.smart-devices-mobile phone8:before{content:"\e02f";}

.smart-devices-mobile phone9:before{content:"\e030";}

.smart-devices-monitor90:before{content:"\e031";}

.smart-devices-mp314:before{content:"\e032";}

.smart-devices-mp47:before{content:"\e033";}

.smart-devices-mp48:before{content:"\e034";}

.smart-devices-mp49:before{content:"\e035";}

.smart-devices-nintendo10:before{content:"\e036";}

.smart-devices-notebook76:before{content:"\e037";}

.smart-devices-notebook77:before{content:"\e038";}

.smart-devices-phone391:before{content:"\e039";}

.smart-devices-phone392:before{content:"\e03a";}

.smart-devices-phone393:before{content:"\e03b";}

.smart-devices-phone394:before{content:"\e03c";}

.smart-devices-phone395:before{content:"\e03d";}

.smart-devices-phone396:before{content:"\e03e";}

.smart-devices-phone397:before{content:"\e03f";}

.smart-devices-phone399:before{content:"\e040";}

.smart-devices-ps47:before{content:"\e041";}

.smart-devices-samsung1:before{content:"\e042";}

.smart-devices-samsung:before{content:"\e043";}

.smart-devices-screen61:before{content:"\e044";}

.smart-devices-screen63:before{content:"\e045";}

.smart-devices-smartphone36:before{content:"\e046";}

.smart-devices-smartphone37:before{content:"\e047";}

.smart-devices-smartphone38:before{content:"\e048";}

.smart-devices-smartphone39:before{content:"\e049";}

.smart-devices-smartphone40:before{content:"\e04a";}

.smart-devices-smartphone41:before{content:"\e04b";}

.smart-devices-tablet100:before{content:"\e04c";}

.smart-devices-tablet101:before{content:"\e04d";}

.smart-devices-tablet102:before{content:"\e04e";}

.smart-devices-tablet98:before{content:"\e04f";}

.smart-devices-tablet99:before{content:"\e050";}

.smart-devices-touch screen3:before{content:"\e051";}

.smart-devices-touch screen4:before{content:"\e052";}

.smart-devices-touch screen5:before{content:"\e053";}

.smart-devices-video game1:before{content:"\e054";}

.smart-devices-video game2:before{content:"\e055";}

.smart-devices-video game3:before{content:"\e056";}

.smart-devices-video game4:before{content:"\e057";}

.smart-devices-videogame4:before{content:"\e058";}

.smart-devices-videogame5:before{content:"\e059";}

.smart-devices-videogame6:before{content:"\e05a";}

.smart-devices-videogame7:before{content:"\e05b";}

.smart-devices-video game:before{content:"\e05c";}

.smart-devices-windows37:before{content:"\e05d";}

.smart-devices-windows38:before{content:"\e05e";}

.smart-devices-windows39:before{content:"\e05f";}

.smart-devices-windows40:before{content:"\e060";}

.smart-devices-windows41:before{content:"\e061";}

.smart-devices-xbox22:before{content:"\e062";}

.smart-devices-xbox23:before{content:"\e063";}

