@font-face{font-family:"Exo2";src:url(Exo2Light.woff2) format("woff2"),url(Exo2Light.woff) format("woff"),url(Exo2Light.ttf) format("truetype");font-style:normal;font-weight:300;font-display: swap;}

@font-face{font-family:"Exo2";src:url(Exo2Regular.woff2) format("woff2"),url(Exo2Regular.woff) format("woff"),url(Exo2Regular.ttf) format("truetype");font-style:normal;font-weight:400;font-display: swap;}

@font-face{font-family:"Exo2";src:url(Exo2Italic.woff2) format("woff2"),url(Exo2Italic.woff) format("woff"),url(Exo2Italic.ttf) format("truetype");font-style:italic;font-weight:400;font-display: swap;}

@font-face{font-family:"Exo2";src:url(Exo2Bold.woff2) format("woff2"),url(Exo2Bold.woff) format("woff"),url(Exo2Bold.ttf) format("truetype");font-style:normal;font-weight:700;font-display: swap;}

@font-face{font-family:"Exo2";src:url(Exo2BoldItalic.woff2) format("woff2"),url(Exo2BoldItalic.woff) format("woff"),url(Exo2BoldItalic.ttf) format("truetype");font-style:italic;font-weight:700;font-display: swap;}

