@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-ExtraLight.otf.woff2) format("woff2"),url(SourceCodePro-ExtraLight.otf.woff) format("woff"),url(SourceCodePro-ExtraLight.ttf) format("truetype");font-weight:200;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-ExtraLightIt.otf.woff2) format("woff2"),url(SourceCodePro-ExtraLightIt.otf.woff) format("woff"),url(SourceCodePro-ExtraLightIt.ttf) format("truetype");font-weight:200;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Light.otf.woff2) format("woff2"),url(SourceCodePro-Light.otf.woff) format("woff"),url(SourceCodePro-Light.ttf) format("truetype");font-weight:300;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-LightIt.otf.woff2) format("woff2"),url(SourceCodePro-LightIt.otf.woff) format("woff"),url(SourceCodePro-LightIt.ttf) format("truetype");font-weight:300;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Regular.otf.woff2) format("woff2"),url(SourceCodePro-Regular.otf.woff) format("woff"),url(SourceCodePro-Regular.ttf) format("truetype");font-weight:400;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-It.otf.woff2) format("woff2"),url(SourceCodePro-It.otf.woff) format("woff"),url(SourceCodePro-It.ttf) format("truetype");font-weight:400;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Medium.otf.woff2) format("woff2"),url(SourceCodePro-Medium.otf.woff) format("woff"),url(SourceCodePro-Medium.ttf) format("truetype");font-weight:500;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-MediumIt.otf.woff2) format("woff2"),url(SourceCodePro-MediumIt.otf.woff) format("woff"),url(SourceCodePro-MediumIt.ttf) format("truetype");font-weight:500;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Semibold.otf.woff2) format("woff2"),url(SourceCodePro-Semibold.otf.woff) format("woff"),url(SourceCodePro-Semibold.ttf) format("truetype");font-weight:600;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-SemiboldIt.otf.woff2) format("woff2"),url(SourceCodePro-SemiboldIt.otf.woff) format("woff"),url(SourceCodePro-SemiboldIt.ttf) format("truetype");font-weight:600;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Bold.otf.woff2) format("woff2"),url(SourceCodePro-Bold.otf.woff) format("woff"),url(SourceCodePro-Bold.ttf) format("truetype");font-weight:700;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-BoldIt.otf.woff2) format("woff2"),url(SourceCodePro-BoldIt.otf.woff) format("woff"),url(SourceCodePro-BoldIt.ttf) format("truetype");font-weight:700;font-style:italic;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-Black.otf.woff2) format("woff2"),url(SourceCodePro-Black.otf.woff) format("woff"),url(SourceCodePro-Black.ttf) format("truetype");font-weight:900;font-style:normal;font-stretch:normal;font-display: swap;}

@font-face{font-family:"Source Code Pro";src:url(SourceCodePro-BlackIt.otf.woff2) format("woff2"),url(SourceCodePro-BlackIt.otf.woff) format("woff"),url(SourceCodePro-BlackIt.ttf) format("truetype");font-weight:900;font-style:italic;font-stretch:normal;font-display: swap;}

